body {
    margin: 0;
    background: #fff;
    font-family: "DejaVu Sans", "Bitstream Vera Sans", Verdana, Helvetica, sans-serif;
    font-size: 13px;
    color: #2e3436;
}
a {
    color: #1f62b9;
}

.language {
    float: right;
    margin-top: 30px;
}
/*.language a {
    margin-left: 6px;
    color: #999;
}
.language a.active {
    font-weight: bold;
}*/
.navigation {
    margin-top: 20px;
    border-bottom: 1px solid #d3d7cf;
    padding: 10px 10px 5px;
}
.navigation a {
    background: #fff;
    border: 1px solid #ececec;
    border-bottom-color: #d3d7cf;
    padding: 5px 10px;
    background: #fbfbfa;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
}
.navigation a.active {
    border-bottom-color: #fff;
    background: #fff;
}

.important {
    font-size: 29px;
}

h1 {
    margin-top: 1.5em;
    font-size: 20px;
}

.facebook {
    background: #eeeeec url(facebook.png) 2px 2px no-repeat;
    padding: 5px 5px 5px 28px;
    display: block;
    float: left;
    border: 1px solid #babdb6;
    border-top-color: #d3d7cf;
    border-left-color: #d3d7cf;
    -moz-box-shadow: 0 2px 4px #e4e4e4;
    -webkit-box-shadow: 0 2px 4px #e4e4e4;
    
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#footer {
    overflow: hidden;
    margin-top: 30px;
    clear: left;
    background: #333;
    color: #fff;
    padding: 20px 0;
}
#footer a {
    color: inherit;
}
li {
    margin-bottom: 0.4em;
}

/* programa pvillavi */
#rounded-corner
{
	text-align: left;
        width: 100%;
	border:#ccc 1px solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

#rounded-corner tr:first-child td:first-child
{
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}
#rounded-corner tr:first-child td:last-child
{
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
#rounded-corner tr:last-child td:first-child
{
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#rounded-corner tr:last-child td:last-child
{
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
#rounded-corner td
{
	padding: 4px;
	background: #fafaf8;
	border-top: 1px solid #fff;
	color: #336;
}
#rounded-corner tbody tr:hover td
{
	background: #1f62b9;
	color: #fff;
}

#rounded-corner tbody tr:hover a
{ 
	color: #ffffff;
}

#rounded-corner tbody td.break
{
	background: #def9e6;
}
#rounded-cornet tbody tb.break:hover
{
	background: lightgreen;
}
