/* DefiniciÃ³n de clases. */
.encabezado {
	clear: both;
	background-color: #ffcb30;
	padding: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #646464;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   height: 80px;
   background-image: url("images/fondo-3D.png");
   background-position: 0px 0px;
   background-repeat: repeat-x;
   color: #ffffff;
   font-weight: bold;
}

.encabezadoColumna1DeDos {
	width: 350px;
	height: 80px;
	float: left;
	background-image: url("images/gnome-sol-encabezado-titulo-350x80.png");
   background-position: 0px 0px;
   background-repeat: no-repeat;
}

.encabezadoColumna2DeDos {
	width: 300px;
	text-align: right;
	float: right;
}

.pagina {
	clear: both;
	margin: 0px auto;
	width: 860px;
}

.pie {
	clear: both;
	background-color: #ffcb30;
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #646464;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   height: 60px;
   background-image: url("images/fondo-3D.png");
   background-position: 0px 0px;
   background-repeat: repeat-x;
   font-size: 8pt;
}

.pieColumna1DeDos {
	width: 600px;
	text-align: left;
	float: left;
}

.pieColumna2DeDos {
	width: 200px;
	text-align: right;
	float: right;
}

.panelExteriorColumna1DeUno {
	clear: both;
	width: 860px;
}

.columna1DeUno {
	clear: both;
	width: 620px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.columna1DeDos {
	clear: both;
	width: 295px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.columna2DeDos {
	width: 295px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.columna1DeDosExtendida {
	clear: both;
	width: 400px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.columna2DeDosExtendida {
	width: 400px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.panelExtra {
	width: 182px;
	float: right;
	padding-left: 10px;
	padding-right: 10px;
	border-style: dashed;
	border-color: #ff814a;
	border-width: 4px;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   text-align: left;
   font-size: 9pt;
   background-color: #f3ce78;
   background-image: url("images/fondo-3D.png");
   background-position: 0px 0px;
   background-repeat: repeat-x;
}

.panelExtra h1 {
	background-color: #ffae00;
	color: #ffffff;
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background-image: url("images/fondo-3D.png");
   background-position: 0px 0px;
   background-repeat: repeat-x;
}

.lineaSeparadoraSimple {
	height: 1px;
	border-style: solid;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-color: #d7d7d7;
	border-width: 1px;
}

.lineaSeparadoraDoble {
	height: 1px;
	border-style: dashed;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-color: #d7d7d7;
	border-width: 4px;
}

.cajaDestacada {
	padding: 10px;
	border-style: dashed;
	border-color: #a7a7a7;
	border-width: 4px;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
}

/* Definición de selectores. */
body {
	text-align: left;
	font-family: "Verdana", "Sans-serif", "Arial";
	font-size: 10pt;
	margin: 7px;
}

img {
	border-style: none; 
}

h1, h2 {
	color: #ffcb30;
}

a:link {
	color: #448bbd;
}

a:visited {
	color: #448bbd;
}

a:hover {
	color: #448bbd;
}

ul {
	
	list-style-image: url("images/logo-gnome-negro-13x16.png");
}

table {
	border-style: none;
}

table th {
	background-color: #a7a7a7;
	color: #ffffff;
	padding: 5px;
}

table th.col1 {
	width: 130px;
}

table th.col2 {
	width: 460px;
}

table td {
	background-color: #d7d7d7;
	padding: 5px;
}
