/* Basic tags */
body {
	margin: 0px;
	background-color: white;
	font-family: "DejaVu Sans", Verdana, sans-serif;
	color: black;
}

#body {
	margin: 90px 230px 0px 10px;
	padding: 0px;
}
ul.toc {
	padding: 0;
	padding-left: 20px;
	margin-left: 0;
	margin-right: 10px;
	list-style: none;
}

ul.toc li {
	list-style: circle;
}

ul.toc li a {
	text-decoration: none;
	color: black;
}

ul.toc li a:hover {
	text-decoration: underline;
}

#general {
	list-style: none;
	background: #2E3436 url(general_bg.png) 0 100% repeat-x;
	text-align: right;
	padding: 0 1ex;
	margin: 0;
	font-size: 70%;
}

#general li {
	display: inline;
	background: url(http://www.gnome.org/css/general_separator.png) 0 0 no-repeat;
	padding-top: 10px;
	padding-bottom: 8px;
	margin-left: 0px;
	margin-top: 0px;
}

#general li a {
	font-weight: bold;
	color: #FFFFFF;
	margin: 0 2ex;
	text-decoration: none;
	line-height: 30px;
	border: 0;
}

#general li a:hover {
	text-decoration: underline;
}

#general .home {
	float: left;
	background: url(http://www.gnome.org/css/general_separator.png) 100% 0 no-repeat;
	padding-top: 0;
	padding-bottom: 0;
}

#general .home a {
	float: left;
	background: url(http://www.gnome.org/css/foot.png) 7px 50% no-repeat;
	margin-left: 0;
	padding-left: 27px;
}
