/* Definición de clases. */

.menu {
	clear: both;
	margin: 30px auto;
	width: 860px;
	font-size: 12pt;
}

.menu a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
   background-image: url("images/fondo-3D.png");
   background-position: 0px 0px;
   background-repeat: repeat-x;
   box-shadow: 0px 0px 7px rgba(66,66,66,0.5);
   -moz-box-shadow: 0px 0px 7px rgba(66,66,66,0.5);
   -webkit-box-shadow: 0px 0px 7px rgba(66,66,66,0.5);	
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;}

.menu a:link {
   padding-top: 15px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 15px;
}

.menu a:visited {
   padding-top: 15px;
   padding-left: 10px;
   padding-right: 10px;
   padding-bottom: 15px;
}

.menu a:hover {
   padding-top: 13px;
   padding-left: 12px;
   padding-right: 8px;
   padding-bottom: 17px;
}

.formatoBotonMenu1 {
	background-color: #3182a7;
}

.formatoBotonMenu2 {
	background-color: #2f791e;
}

.formatoBotonMenu3 {
	background-color: #646464;
}

.formatoBotonMenu4 {
	background-color: #791e2d;
}

.formatoBotonMenu5 {
	background-color: #c855a1;
}

.formatoBotonMenu6 {
	background-color: #33a68f;
}
