/* totem website overrides */

#hdr {
  background: url("images/totem-banner.png") no-repeat;
  background-color: #000066;
  background-position: right;
}

h1 {
  font-size: 160%;
}

h2 {
  font-size: 110%;
}

div.command {
  background-color: #EEEEEE;
  border: dashed 1px #999999;
  padding: .3em;
  margin-left: 2em;
  font-family: monospace;
} 