BODY {
  background-color: white;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

H1 {
  font-size: 200%;
  font-weight: bold;
  color: black;
  letter-spacing: 1em;
}

H2 {
  font-size: 150%;
  font-weight: bold;
  color: black;
}

/* the left hand menu bar */
A.menu, A.menu:link, A.menu:visited {
  color: black;
}
A.menu:active {
  color: red;
}

/* the screenshots page */

TD.screenshot-desc {
  background-color: #459fa8;
  text-align: center;
}

/* the downloads page */
TD.download-desc {
  color: black;
}

/* the links page */
TD.link {
  background-color: #d7e9ed;
}

TD.link A, TD.link A:link, TD.menu A:visited {
  color: black;
  font-weight: bold;
}

TD.link-desc {
  background-color: #459fa8;
}
