/* Content-specific styles */

h1, h2, h3, h4 {
    color: #cc0000;
}

h1, h2, h3 {
    margin: 1em 0px 1em 5%;
}

h4, h5, h6, p, li, pre {
    margin: 0.5em 5% 1em 6%;
}

h2 {
    font-size: 150%;
    padding: 0;
}

h3 {
    font-size: 110%;
    padding: 0;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0;
}

:link, :visited {
    font-weight: bold;
    color: #3465a4;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border: 0;
    margin: 1em auto 1em auto;
}

.releases td, .releases th, .bindings td, .bindings th {
    padding-right: 1em;
}

th {
    border-bottom: 1px solid #999;
    text-align: left;
}

tr.odd {
    background: #e4e4e1;
}

pre {
    background : #797b76;
    color : #fff;
    padding : 0.5em;
    margin-bottom : 1em;
}

hr {
    width: 90%;
}

.fig {
    display: inline-block;
    margin-left: 2em;
    margin-right: 2em;
    vertical-align: text-top;
}

.fig caption {
    caption-side: bottom;
    font-size: 70%;
    line-height: 120%;
}

.figs {
    text-align: center;
}
