/* General styles */

body {
    text-align: center; /* Centering for browser incompatible with "margin: auto" */
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #d0d0cb;
    font-family: sans-serif;
}

:link:hover, :visited:hover {
    border-bottom: 1px dotted;
}

#container {
    width: 750px;
    margin: 0 auto;
    padding: 0;
    text-align: left;
    background-color: #FFF;
}

/* Header */

div#header {
    text-indent: -9999px; /* Eliminate text for CSS-compatible browsers */
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    width: 750px;
    position: relative;
    overflow: hidden;
}

div#header h1 {
    text-indent: -9999px;
    margin: 0;
    padding: 0;
    border: 0;
    width: 750px;
    height: 150px;
    overflow: hidden;
    background: #729fcf url(img/logo) center left no-repeat;
}

/* Navigation Bar */
div#header ul#nav    {
    width: 100%;
    margin: 0;
    background: black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-indent: 0px;
    list-style: none;
    text-align: center;
}

div#header ul#nav li {
    display: inline;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 105%;
}

div#header ul#nav li :link, div#header ul#nav li :visited {
    display: inline-block;
    margin: 0;
    color: white;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    padding-bottom: 1px;
}

div#header ul#nav li :link:hover, div#header ul#nav li :visited:hover {
    padding-bottom: 0;
}

div#header ul#nav li .current {
    font-weight: bold;
    color: #f4ee96;
    padding-bottom: 1px;
}

div#header ul#nav li .current:hover{
    padding-bottom: 1px;
    border-style: none;
}

/* Content */
div#content {
    background-color: #FFF;
    position: relative;
    line-height: 150%;
}

#footer {
    background-color: #729fcf;
    text-align: center;
    padding: 5px;
}
