h2 {
	color:				#0a6495;
	margin:				0;
}
li {
	margin:				0;
	padding:			0;
}
img {
	border:				none;
}
html {
	background-position:		0 22em;
	color:				rgb(68,68,68);
	font-family: 			Bitstream Vera Sans, sans-serif;
}
body {
	margin:				0;
}
div.title {
	border-bottom:			1px solid black;
	padding:			.5em;
	height:				4em;
	color:				black;
}
div.title a {
	color:				black;
	text-decoration:		none;
}
div.title h1, div.title h2 {
	text-align:			right;
	margin:				0;
}
div.title h1 {
	font-size:			2em;
	letter-spacing:			.3em;
}
div.title h2 {
	font-size:			1em;
	font-style:			italic;
	font-weight:			normal;
	color:				#4b503b;
}
div.title img {
	float:              left;
}

div.left {
	margin:				1em 30% 1em 1em;
}
#features h4 {
	margin-left:			.5em;
}
#features img {
	margin:				.5em;
}

#features div {
	clear:				both;
}
div.right {
	position:			absolute;
	font-size:			80%;
	/* Multiply sizes by 1.25... */
	right:				0;
	top:				6.25em;
	width:				30%;
	margin-top:			1px; /* Hack: same as .title border */
}
div.right h2 {
	color:				#0a6495;
	font-weight:			normal;
}
div.right h4 {
	margin:				0;
}
div.right div {
	padding:			.5em;
	background-color:		#efefef;
	color:				rgb(68,68,68);
	border:				1px solid #0a6495;
	margin:				1.25em;
}

div.bottom {
	margin:				1em;
	font-size:			75%;
	text-align:			center;
}
