/* Cascading Style Sheet for Garnome Extras. */

body {
	/* background: #e7e7dc; */
	background: white;
	color: black;
	font-family: sans-serif, verdana, helvetica, arial;
	}

p {
	margin-left: 2em;
	}

.section {
	margin-left: 0em;
	}

.contact {
	margin-left: 0em;
	}

h1 a, h2 a, h3 a, h1 a:hover, h2 a:hover, h3 a:hover {
	color:black;
	}

#g-h1 {
	color: black;
	font-size: 24pt;
	font-weight: bold;
	}

#g-h2 {
        color: black;
        font-size: 18pt;
        font-weight: bold;
        }

#li1 {
	list-style-type: circle;
	margin-left: 1em;
	}
#li2 {
	list-style-type: disc;
	margin-left: 2em;
	}

#t1 {
	font-family: monospace;
	border: 1px solid black;
	padding: 6px 6px 6px 6px;
	width: 58em;
	background: #eaeaea;
	margin-left: 4em;
	margin-right: 4em;
	white-space: nowrap;
	display: block;
	overflow: auto;
	border-collapse: collapse;
	}

#hdr {
	background: url("images/background-01.jpg") no-repeat;
	background-color: #2b4168;
	/* text-decoration: underline; */
	}

#logo {
	background: url("images/gnome-64.png") no-repeat;
	}

a:link {
	color: #5075c9;
	/* text-decoration: none; */
	}

a:visited {
	color: #5075c9;
	/* text-decoration: none; */
	}

a:active {
	color: #5075c9;
	/* text-decoration: none; */
	}

a:hover {
	color: rgb(51, 102, 255);
	/* text-decoration: none; */
	}
