/* Green = #3ee63c, Red = #f6524d, Blue = #3e76e4, Dark Blue = #000080, Orange = #f60, Dark Grey = #2e3436;
 */
body {
    background : black;
    color : #2e3436;
    width : 45em;
    margin : 0 auto;
    font-family : Bitstream Vera Sans, Arial, Helvetica, Verdana, sans-serif;
}

a {
    text-decoration : none;
    color : #f60;
}

a:hover {
    color : black;
    border-bottom : 1px dotted;
}

a img, a:hover img {
    border : 0 none;
}

img {
    vertical-align : middle;
}

a {
    color : #3e76e4;
}

h2, h2 a {
    color : #3b80ae;
    margin-top : 1em;
    margin-bottom : 0.1em;
}

h3 {
    margin-top : 1em;
    margin-bottom : 0.1em;
}

h4 {
    margin-bottom : 0.1em;
}

h1, h2, h3, h4 {
    color : #666666;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover {
    border-bottom : none;
}

q {
    font-style : italic;
    color : gray;
}

p {
    margin-top : 0em;
    margin-bottom : 0.7em;
    vertical-align : middle;
}

/* This is the only non-compliance, but it is needed */
p:last-child {
    margin-bottom : 0em;
}

pre {
    background : #444444;
    color : white;
    padding : 0.5em;
    margin-bottom : 1em;
}

ul > li {
    list-style-image : url(images/bullet.gif);
    list-style-type : circle;
}

ul > li:hover {
    list-style-image : url(images/bullet.gif);
}

os.ul {
    list-style-image : none;
    list-style : none;
}

#screenshots {
    width : 100%;
}

#screenshots tr {
    vertical-align : bottom;
    text-align : center;
    font-size : 80%;
}

#screenshots tr td {
    padding : 0.5em;
}

table.documentation-table td, table.documentation td, table.maintainers td {
    padding-right : 1em;
    text-align : left;
}

table.styled th, table.documentation th, table.maintainers th {
    padding-top : 0.5em;
    border-bottom : 1px solid #999;
    text-align : left;
}

table.styled, table.documentation {
    border-collapse : collapse;
    border : 0;
    margin-left : 1.5em;
}

table.maintainers {
    border-collapse : collapse;
    border : 0;
    margin-left : 1.5em;
    margin-right : 1.5em;
    margin-bottom : 1.5em;
}

table.styled th, table.styled td {
    padding-right : 1em;
    text-align : left;
}

table.styled th {
    padding-top : 0.5em;
    border-bottom : 1px solid #999;
}

table.styled tr td.required {
    text-align : center;
}

table.styled img {
    vertical-align : middle;
}

h1 {
    color : white;
    font-size : 22pt;
    text-decoration : none; 
    letter-spacing : 5px;
    padding : 55px; 
    margin : 0;
}

#header {
    background : #444444 url(../images/header-background.png);
    height : 145px;     /* fixed height */
    text-align: left;
}

#header img {
    margin-top : 22px;
    margin-left : 48px;
    vertical-align : middle;
}

#spaced {
    letter-spacing : 20px;
    display : inline;
}

#container {
    margin-top : 12px;
    margin-bottom : 12px;
    background : white;
    border : 2px solid;
    border-color : #f60;
}

#menu {
    background : #f60;
    color : white;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align : center;
}

#menu a {
    color : white;
}

#menu a:hover {
    color : black;
    border-bottom : 1px dotted;
}

#menu table {
    margin-left : auto;
    margin-right : auto;
}

#menu td {
    padding-left : 0.5em;
    padding-right : 0.5em;
}

.current {
    font-weight : bold;
}

#content {
    padding : 1em 3.5em 2.5em 3.5em;
    line-height : 150%;
}

#content a {
    line-height : 150%;
    font-weight : bold;
}

#columns {
    clear : both;
    margin-top : 2em;
}

#news {
}

#news h2, #events h2 {
    margin-top : 0em;
}

#events {
}

.news-item {
    margin-bottom: 1.2em;
}

p.news-title, p.events-title {
    margin : 0em;
    font-weight : bold;
}

p.news-date, p.events-date {
    margin : 0em;
    font-size : 90%;
    color : #888a85;
}

p.news-desc, p.events-desc {
    margin : 0em;
}

p.news-link, p.events-link {
    margin : 0em;
    padding-bottom : 1em;
}

p.news-title, p.events-title {
    margin : 0em;
}

#technology {
    margin-top : 2em;
    margin-left : -3.5em;
}

#technology li {
    list-style : none;
    padding-bottom : 1em;
    clear : both;
}

#technology li img {
    float : left;
    margin : 1em;
    padding : 5px;
    padding-right : 20px;
}

#projects table {
    margin-top : 1em;
}

#projects th {
    text-align : left;
    padding : 0.3em;
    background : #d0d0cb;
}

#projects td {
    vertical-align : top;
}

#projects td.project-credits  {
    vertical-align : bottom;
    font-family : monospace;
    color : gray;
}

#projects img {
    margin-top : 0.2em;
}

#bio img {
    margin-top : 0.3em;
    vertical-align : top;
    padding : 1px;
    border : 1px solid #021a40;
    background-color : white;
}

#bio table {
    margin-top : 1em;
}

#bio th {
    text-align : left;
    color : #797b76;
}

#bio td {
    vertical-align : top;
    padding-right : 0.5em;
}

table tr.odd {
    background : #e4e4e1;
}

#footer {
    clear : both;
    padding : 0.5em;
    background : #444444;
    color : white;
    text-align : center;
}

.footnote {
    font-size: 80%;
}

