body {
	background-color: #FFDCA8;
	margin-left: 2em;
	margin-right: 2em;
	padding: 0;
	font-family: "Verdana", "helvetica", "Sans-serif";
	color: #292114;
}

img {
	border: none; 
	text-decoration: none;
}

h1 {
	margin: 0.1 auto;
}

h2 {
	font-size: 1.4em;  
	background-color: #FF8000;
	border: 1px solid #222;
	color: #222;
	padding-left: 1.2em;
	background-image: url('images/icon24.png');
	background-repeat: no-repeat;
	background-position: left center;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px; 
	-webkit-box-shadow: 0px 1px 3px #3B1D00;
	-moz-box-shadow: 0px 1px 3px #3B1D00;
}

h3 {
	display: inline-block;
	font-size: 0.9em;
	background-color: #FF8000; 
	border: 1px solid #444;
	color: #222;
	margin-left: 0.5em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	-webkit-box-shadow: 0px 1px 2px #3B1D00;
	-moz-box-shadow: 0px 1px 2px #3B1D00;
}
	
p, table { 
	margin: 0.3em 1em;
	padding: 0.3em;
	text-align: justify;
}

li {	
	margin-left: 1em;
}

a:link, a:visited {
	color: #333;
	text-decoration: none;
	border-bottom: thin dotted #005353;
}

a:hover {
	color: black;
	text-decoration: none;
	border-bottom: 0.2em solid #83CDCE;
}

ul#menu {
	list-style-type: none;
	display: inline;
}

ul#menu li {
	float: left;
}

tr {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}

td {
	padding: 0.5em 2em 0.5em 0;
}
