/* gfoobar website overrides */

#hdr {
	background: url("images/nsc-banner.png") no-repeat;
	background-color: #5d7555;
	background-position: right;
}

.front-screenshot {
	float: right;
	display: block;
	margin: 1em;
}

/* Generic Classes */

code {
    display: block;
    white-space: pre;
    font-family: monospace;
    background-color: #eeeeee;
    margin-left: 2em;
    width: 500px;
}

inlinecode {
    white-space: pre;
    font-family: monospace;
    background-color: #eeeeee;
}

tidbit {
    display: block;
    white-space: pre;
    background-color: #CCFF99;
    margin-left: 2em;
    padding: 1em;
    border: 1px dotted #333333;
}
