#archmap ul {
  margin:0;
  padding:0;
  position:relative;
  /*float:left;*/
  width:564px; 
  height:501px; 
  background:#fff url(gmae-arch-diag.png); 
  z-index:1; 
  overflow:hidden;
  }
#archmap li {
  list-style-type:none; 
  position:absolute;
  }
#archmap a {
  display:block; 
  width:116px; 
  height:0; 
  color:#000; 
  text-decoration:none; 
  padding-top:35px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
  position:absolute; 
  }
* html #archmap a {
  height:35px; 
  he\ight:0;
  }
#archmap a:hover {
  background-color: white;
  opacity: 0.5;
  -moz-border-radius: 6px;
}

#archmap a#capi {
	left: 311px;
	top: 35px;
	width: 55px;
	padding-top: 55px;
}
#archmap a#cxxapi {
	left: 382px;
	top: 35px;
	width: 55px;
	padding-top: 55px;
}
#archmap a#pyapi {
	left: 452px;
	top: 35px;
	width: 55px;
	padding-top: 55px;
}

#archmap a#bluez { left:43px; top:128px; }
#archmap a#eds { left:163px; top:128px; }
#archmap a#telepathy { left:283px; top:128px; }
#archmap a#avahi { left:403px; top:128px; }
#archmap a#gstreamer { left:43px; top:187px; }
#archmap a#matchbox { left:163px; top:187px; }
#archmap a#gconf { left:283px; top:187px; }
#archmap a#sqlite { left:403px; top:187px; }
#archmap a#gvfs { left:43px; top:247px; }
#archmap a#gio { left:163px; top:247px; }

#archmap a#gtk {
  left:42px;
  top:311px;
  width:476px;
  padding-top:75px;
  }
* html #archmap a#gtk {
  height:74px;
  }

#archmap a#pango { left:49px;  top:346px; width:148px;}
#archmap a#cairo { left:205px; top:346px; width:150px;}
#archmap a#atk { left:362px; top:346px; width:151px;}

#archmap a#glib { left:42px; top:415px; width:235px;}
#archmap a#dbus { left:282px; top:415px; width:236px;}
