#archmap ul {
  margin:0;
  padding:0;
  position:relative;
  /*float:left;*/
  width:550px; 
  height:400px; 
  background:#fff url(gmae-arch-diag.png); 
  z-index:1; 
  overflow:hidden;
  }
#archmap li {
  list-style-type:none; 
  position:absolute;
  }
#archmap a {
  display:block; 
  width:116px; 
  height:0; 
  color:#000; 
  text-decoration:none; 
  padding-top:35px; 
  background:transparent; 
  overflow:hidden; 
  z-index:10;
  position:absolute; 
  }
* html #archmap a {
  height:35px; 
  he\ight:0;
  }
#archmap a:hover {
  background-color: white;
  opacity: 0.5;
  -moz-border-radius: 6px;
}

#archmap a#capi {
	left: 284px;
	top: 47px;
	width: 66px;
	padding-top: 64px;
}
#archmap a#cxxapi {
	left: 364px;
	top: 47px;
	width: 66px;
	padding-top: 64px;
}
#archmap a#pyapi {
	left: 444px;
	top: 47px;
	width: 66px;
	padding-top: 64px;
}

#archmap a#bluez { left:36px; top:144px; }
#archmap a#eds { left:158px; top:144px; }
#archmap a#telepathy { left:280px; top:144px; }
#archmap a#avahi { left:402px; top:144px; }
#archmap a#gstreamer { left:36px; top:198px; }
#archmap a#matchbox { left:158px; top:198px; }
#archmap a#gconf { left:280px; top:198px; }
#archmap a#gnomevfs { left:402px; top:198px; }

#archmap a#gtk {
  left:35px;
  top:255px;
  width:483px;
  padding-top:74px;
  }
* html #archmap a#gtk {
  height:74px;
  he\ight:0;
  }

#archmap a#pango { left:42px;  top:289px; width:155px;}
#archmap a#cairo { left:199px; top:289px; width:155px;}
#archmap a#atk { left:356px; top:289px; width:156px;}

#archmap a#x { left:35px; top:352px; width:160px;}
#archmap a#glib { left:197px; top:352px; width:160px;}
#archmap a#dbus { left:359px; top:352px; width:160px;}
