#products {
	text-align: center;
}
#products img {
	vertical-align: middle;
	padding: 10px;
}

/* The following has nothing to do with products, but I thought it was silly to do another css-file just for this */

ul li {
list-style-image: url("gnome-16.png");
}
