#header
{
  background-image: url("images/top-bg.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  height: 96px;
  overflow: hidden;
}

#header h1
{
  background-image: url("images/title.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 128px;
  margin: 0;
}

#body
{
  margin: 0px 10px 0px 10px;
  line-height: 150%;
}

#body h2
{
  border-bottom: 1px solid #99c;
  font-size: 120%;
}

#body h3, #body h3 a
{
  font-size: 100%;
}

#bottom h2, h1
{
  border-bottom: 1px solid #99c;
  margin-top: 2em;
}

/* menu */
#menu
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/gnome.png");
  background-repeat: no-repeat;
  background-position: 1ex 1ex;
  height: 96px;
}

#menu h2
{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 44px;
  visibility: hidden;
}

#menu > ul
{
  margin-left: 48px;
  display: block;
}

#menu ul ul, #menu li, #menu a
{
  display: inline;
  padding: 0;
  margin: 0;
}

#menu .current > a
{
  font-weight: bold;
}

#menu a
{
  color: black;
}

#menu li li:before
{
  content: "·";
  margin: 0.5ex;
}

#copyright
{
  color: gray;
  clear:both;
  background:#efefef;
  padding:10px;
}

#copyright p
{
  text-align:center;
}

/* three column layout */

#top
{
  text-align: center;
}

#bottom
{
  padding-top: 1px;
  clear: both;
}

#bottomLeft
{
  width: 59%;
  float: left;
  margin-left: 2%;
  margin-right: 5%;
}

#bottomRight
{
  margin-right: 2%;
  width: 32%;
  float: left;
}

#left
{
  width:48%;
  float:left;
}

#right
{
  width:48%;
  float:right;
}

#tothearchive
{
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
    color: blue;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    clear: both;
    margin-bottom: 5px;
}

#tothearchive a
{
    text-decoration: none;
    color: blue;
}

div.screenshot
{
  width:50%;
  float:left;
}

div.code
{
  background-color: #e0e0e0;
  color: #000000;
  white-space: pre;
  font-family: monospace;
}

.download img
{
  vertical-align: middle;
  padding-right: 4px;
}

.download a
{
  text-decoration: none;
  font-weight: bold;
  color: blue;
}

.download p
{
  margin-top: 0px;
  padding-left: 40px;
}

.download
{
  padding-left: 36px;
  /*border-top: 1px solid #99c;*/
}

.iconl
{
  float:left;
  margin: 5px 5px 5px 5px;
}

.iconr
{
  float:right;
  margin: 5px 5px 5px 5px;
}

.imagel
{
  float:left;
  margin: 5px 2em 5px 0px;
}

.imager
{
  float:right;
  margin: 5px 0px 5px 2em;
}

.tour-item
{
  width: 40%;
  float:left;
  margin-left: 5%;
  margin-right: 5%;
}

.clearboth
{
  clear: both;
}

#warningbox
{
  background-image:url(../../images/dialog-warning.png);
  background-repeat:no-repeat;
  border: solid 1px #4e9a06;
  background-color:#73d216;
  background-position:2px 2px;
  padding:2px;
  overflow:visible;
  margin-left: 2em;
  margin-right: 2em;
}

#warningbox p
{
  margin-left:64px;
  margin-right:64px;
  margin-top:10px;
  margin-bottom:20px;
}
