
<style type="text/css">

TABLE, TD, TR
	{
	color: #666666;
	font-family: "Arial", "Helvetica", "Sans", sans-serif;
	}

BODY, 
P, 
UL, OL, LI, 
SMALL, 
H1, H2, H3, H4, H5, H6,
BLOCKQUOTE
	{
	color: #666666;
	font-family: "Arial", "Helvetica", "Sans", sans-serif;
	text-align: justify;	
	}

BODY {margin: 0 0 0 0;}

PRE {
	font-family: "Andale Mono", "Courier New", "Courier", monospace;
	}
A
	{
	font-family: "Arial", "Helvetica", "Sans", sans-serif;
	}

A:link {color: #3333cc; text-decoration: none;}
A:visited {color: #6666cc; text-decoration: none;}
A:active {color: #990000; text-decoration: underline;}
A:hover {color: #3300ff; text-decoration: underline;}

.navigation {
	font-size: xx-small;
	text-align: center;
	font-weight: normal;
	white-space: no-wrap;
	}

HR {color: #ccccff;}

</style>

