DIV,BODY,TD,TH,P,FONT,LI,UL,BLOCKQUOTE,A,TR,TABLE,I,FORM {
        font-family: arial,helvetica,sans-serif;
}
INPUT {
        font-family: courier;
}
A
{
        font-family: Arial, Verdana, Helvetica;
        color: #6b727f; 
        text-decoration: none;
}


A.boxheader {
	font-family: Arial, Verdana, Helvetica;
	color: black; 
	text-decoration: none;
}

.grayboxframe {
	border: 1px dashed #cdcacd;
	background-color: #fffaff;
}

.grayboxheader {
	border-bottom: 1px dashed #cdcacd;
	background-color: #f6f2f6;
}

.blueboxframe {
	border: 1px dashed #cdcacd;
	background-color: #f6f6ff;
}

.blueboxheader {
	border-bottom: 1px dashed #cdcacd;
	background-color: #edf3ff; 
}

.newsdate {
	color: #999999;
   font-family: arial,helvetica,sans-serif;
	font-size: smaller;
}
	
UL {
	padding-left: 20px;
}
	
PRE {
	font-size: smaller;
	border: 1px solid #ddd;
	background-color: #fff;
	width: 80%;
	text-align: left;
	padding: 8px 8px 8px 8px;
	white-space: pre;
}

DIV.boxheader-gray {
	border: 1px dashed #cdcacd;
	padding: 3px 3px 3px 3px;
	background-color: #f6f2f6;
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	width: 100%;
}

DIV.boxcontent-gray {
	border: 1px dashed #cdcacd;
	border-top: none;
	padding: 10px 10px 10px 10px;
	background-color: #fffaff;
	margin: 0px 0px 15px 0px;
	width: 100%;
}

DIV.boxcontent-gray P {
	margin-bottom: 0px;
}

DIV.boxheader-blue {
	border: 1px dashed #cdcacd;
	padding: 3px 3px 3px 3px;
	background-color: #edf3ff; 
	font-weight: bold;
	margin: 0px 0px 0px 0px;
	width: 100%;
}

DIV.boxcontent-blue {
	border: 1px dashed #cdcacd;
	border-top: none;
	padding: 10px 10px 10px 10px;
	background-color: #f6f6ff;
	margin: 0px 0px 15px 0px;
	width: 100%;
}

DIV.boxcontent-blue P {
	margin-bottom: 0px;
}

P.boxsep {
	margin: 20px 0px 0px 0px;
}

H1 {
	color: #8391bd;
   font-family: arial,helvetica,sans-serif;
	font-size: 14pt;
}

HR {
	border-top: 1px solid #ddd;
	height: 0px;
	color: #ddd;
	margin: 10px 40px 10px 40px;
}

HR.box {
	border-top: 1px solid #ddd;
	height: 0px;
	color: #ddd;
	margin: 5px 0px 5px 0px;
}

P.apih1 {
	font-weight: bold;
}

P.apih2 {
	margin-bottom: 0px;
}

P.apih3 {
	margin-top: 5px;
}

SPAN.apiarg {
	color: #6879aa;
}

A:hover { text-decoration: underline; }
