/* Basic tags */
* {
	color:				rgb(68,68,68);
        font-family: 			Bitstream Vera Sans, sans-serif;
}
body {
        margin: 			0;
	padding:			0;
        background-color: 		rgb(109,109,109);
        font-family: 			Bitstream Vera Sans, sans-serif;
}
a {
	color:				blue;
}
h2 {
	color:				#7cbe31;
	margin:				0;
	margin-top:			3px;
}
h4 {
	margin-left:			3px;
}
p {
	text-align:			justify;
}
li {
	margin:				0px;
	padding:			0px;
}
img {
	border:				none;
}
/* ID tags */
#main {
	margin:				auto;
	margin-top:			0;
	width:				800px;
	background-color:		rgb(255,255,255);
	border-right:			2px outset rgb(0,0,0);
	border-bottom:			2px outset rgb(0,0,0);
	border-left:			2px inset  rgb(0,0,0);
}
#main.stripe {
	background-image:		url("http://www.gnome.org/projects/evince/images/grnbar.png");
	background-repeat:		no-repeat;
	background-color:		rgb(255,255,255);
}
a.title {
	border-bottom:			1px solid black;
	margin:				0;
	padding:			3px;
	height:				4em;
	display:			block;
	text-decoration:		none;
	color:				black;
	background-color:		inherit;
}
a.title strong, a.title em {
	float:				right;
	text-align:			right;
	height:				15px;
	width:				15em;
	margin:				0;
	padding:			3px;
}
a.title strong {
	color:				black;
	font-size:			200%;
	letter-spacing:			0.4cm;
}
a.title em {
	width:				20em;
}

div.left {
	margin:				0;
	font-size:			80%;
	float:				left;
	width:				525px;
	padding-left:			15px;
}
div.left div {
	margin-top:			15px;
}
div.features h4 {
	margin-bottom:			0;
	margin-left:			7px;
	width:				100%;
}
div.features img {
	margin:				7px;
	float:				left;
}
div.features p {
	float:				right;
	width:				200px;
}
div.right {
	font-size:			80%;
	float:				right;
	width:				225px;
	margin-right:			15px;
}
div.right h2 {
	color:				#3e601e;
	font-weight:			normal;
}
div.right div {
	padding:			3px;
	padding-top:			0;
	background-color:		#efffbc;
	color:				#4b503b;
	border:				1px solid #7ac127;
	margin-top:			10px;
}
div.right li {
	padding-bottom:			3px;
}
div.bottom {
	margin:				10px;
	font-size:			75%;
	text-align:			center;
}
div.screenshot {
	display:			block;
}
div.screenshot a, div.screenshot img {
	float:				left;
	min-width:			330px;
	min-height:			210px;
	margin-bottom:			20px;
}
div.screenshot p {
	float:				right;
	width:				160px;
	text-align:			left;
	padding:			10px;
	margin-top:			0;
	border-bottom:			1px outset #efefef;
	border-right:			1px outset #efefef;
	border-top:			1px outset #1f1f1f;
	border-left:			1px outset #1f1f1f;
}
ul.bug_lists li {
	margin:				7px;
}
h6 {
	color:				red;
	font-style:			italic;
}
