.header { 
    padding-left: 20px;
    font-size: 14px; 
    color: #FFFFFF; 
    font-family: verdana, arial, helvetica, sans-serif;
}
a {
	text-decoration: none;
}
a:link {
	font-size: 14px;
    color: #7498B9;
    font-family: verdana, arial, helvetica, sans-serif;
}
a:visited {
	font-size: 14px;
    color: #7498B9;
    font-family: verdana, arial, helvetica, sans-serif;
}
a:active {
	font-size: 14px;
    color: #7498B9;
    font-family: verdana, arial, helvetica, sans-serif;
}
a:hover {
	font-size: 14px;
	color: #7498B9;
	font-family: verdana, arial, helvetica, sans-serif;
        text-decoration: underline;
}
.content {
    padding-top: 30px; 
    padding-left: 30px;
    padding-right: 30px;
    background-color: #E6E6E6;
    font-family: verdana, arial, helvetica, sans-serif;
}
.menu {
	font-size: 14px;
	color: #7498B9;
	font-family: verdana, arial, helvetica, sans-serif;
	background: #032042;
}
