body {
	font-family: trebuchet ms, luxi sans, sans-serif;
	font-size: 96%;
	padding: 0px;
	margin: 0px;
	background: white;
}

h2 {	
	color: #666;
	font-size: 200%;
}

h3 {
	color: #666;	
	font-size: 150%;
}

div.content {
	margin: 20px;
	width: 80%;
}

div.hdrimg {
	width: 106px;
	height: 79px;
	padding: 0px;
	margin: 0px;
	background: url("top-logo.png") no-repeat; 
}

div.hdrbar {
	background-color: black; 
	height: 79px;
	width: 100%;	
	padding: 0px;
	margin: 0px;
}

div.hdrtext {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 36px;
	left: 106px;
	top: 15px;
	color: white;
	position: absolute;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	list-spacing: 1em;
	margin: 0px;
	margin-left: 2em;
	padding: 0px;
}

#menubg {
	background: #eeeeee;
	width: 100%;	
	margin: 0px;
	padding: 0px;
	height: 2.0em;
	padding-top: 0.5em;
	color: #888888;
	border-bottom: 1px dashed black;
}

#menu {
	display: inline;
	list-style-type: none;
	padding-left: 8px;
	padding-right: 8px;
	border-left: 1px dashed #888888;
}

#menu:first-child {
	border: 0px;
}

#commandlines {
	width: 80%;
	padding: 0.5em;
	border: 1px solid black;
	background-color: #eeeeee;
	color: black;
}