body
   {
   margin:0px;
   padding:0px;
   line-height:150%;
   font-family:Arial,"Luxi Sans",Helvetica,"Bitstream Vera Sans",sans-serif;
   }

a:visited
   {
   color:purple;
   }
h1,h2,h3,h4,h5,h6,p
   {
   margin:0px;
   padding:0px;
   margin-top:1ex;
   }
h2
   {
   font-size:110%;
   border-bottom:1px solid #99c;
   }
a img
   {
   border:0px;
   }

#header
   {
/*   border:1px solid black; */

   background:url("./img/hdr/hills01.jpg") no-repeat;
   background-color:#e3ffc3;
   border-bottom:1px solid #996;
   height:48px;
   margin-bottom:1.5em;
   }

#header img
   {
   position:absolute;
   margin:1ex;
   }

#header h1
   {
   position:absolute;
   left:85px;
   }

#menu
   {
/*   border:1px solid yellow; */

   position:absolute;
   font-size:93%;
   line-height:150%;
   left:85px;
   top:50px;
   }
#menu ul
   {
   margin:0px;
   padding:0px;
   }
#menu li
   {
   margin:0px; 
   padding:0px;
   padding-right:2.5ex;
   display:inline;
   list-style-type: none;
   font-size:95%;
   }

#top
   {
/*   border:1px solid red; */

   padding-left:1em;
   padding-right:1em;
   }
#topLeft
   {
/*   border:1px solid blue; */

   width:66%;
   float:left;
   margin-right:auto;
   margin-left:auto;
   text-align:center;
   }
#topRight
   {
/*   border:1px solid black; */

   margin-left:66%;
   padding-left:1em;
   padding-top:1em;
   }

#bottom
   {
/*   border:1px solid green; */

   clear:both;
   padding:1em;
   }
#bottomLeft
   {
/*   border:1px solid yellow; */

   width:66%;
   float:left;
   }
#bottomLeftLeft
   {
/*   border:1px solid black; */

   float:left;
   width:48%;
   }
#bottomLeftRight
   {
/*   border:1px solid maroon; */

   margin-left:48%;
   padding-left:1em;
   }
#bottomRight
   {
/*   border:1px solid purple; */

   margin-left:66%;
   padding-left:1em;
   }

#whatisgnome
   {
   position:relative;
   z-index:10;
   border:3px #99c solid;
   background-color:#eee;

   font-size:95%;
   line-height:150%;
   }
#whatisgnome h2
   {
   padding:0px;
   margin:0px;
   padding:0.3ex;
   background-color:#ccf;
   color:#333;
   border-bottom:1px #99c solid;
   text-align:center;
   }
#whatisgnome p
   {
   padding:1ex;
   padding-top:0px;
   }

#metainfo
   {
   clear:both;
   color:gray;
   font-size:80%;
   text-align:center;
   padding-top:3em;
   padding-bottom:1em;
   line-height:150%;
   }
#metainfo a
   {
   color:#99f;
   }
#metainfo a:visited
   {
   color:#c9c;
   }
