/* we don't have a sidebar on the front page */

#body {
	margin: 90px 10px 0px 10px;
	line-height: 150%;
}

#body h2 {
	border-bottom: 1px solid #99c;
	font-size: 110%;
}

#body h3, #body h3 a {
	font-size: 100%;
}

/* three column layout */

#top {
	text-align: center;
	margin: 1em;
}

#bottom {
	padding-top: 1px;
	clear: both;
}

#bottomLeft {
	width: 66%;
	float: left;
}

#bottomLeftLeft {
	width: 48%;
	float: left;
}

#bottomLeftRight {
	margin-left: 48%;
	padding-left: 10px;
	padding-left: 2em;
}

#bottomRight {
	margin-left: 66%;
	padding-left: 2em;
	/*padding-left: 10px;*/
}

/* what is gnome? box */

#whatisgnome {
	position: relative;
	z-index: 10;
	border: 3px #99c solid;
	background-color: #eee;
	/*font-size: 95%;*/
	line-height: 150%;
}

#whatisgnome h2 {
	padding: 0px;
	margin: 0px;
	padding: 0.3ex;
	background-color: #ccf;
	color: #333;
	border-bottom: 1px #99c solid;
	text-align: center;
}

#whatisgnome p {
	padding: 0px 10px 0px 10px;
}
