/* Standard stuff */

body {
	margin: 0px;
	padding: 0px;
	background-color: #393329;
	font-family: sans-serif;
	color: #ffffff;
}

a {
	color: #ffffff;
}

a:visited, a:active {
	color: #dddddd;
}

a:hover {
	color: #ffff00;
}


/* Front page layout */

#masthead {
	height: 96px;
 	background: url("img/bg4.png");
 	background-color: #393329;
 	background-repeat: no-repeat;
}

#logo {
	position: relative;
	height: 194px;
	width: 194px;
	top: 28px;
	left: 28px;
	background: url("img/logo/text-194.png");
	background-repeat: no-repeat;
}

#logo a img {
	height: 194px;
	width: 194px;
	border: none;
}

#flash {
	position: absolute;
	height: 194px;
	top: 28px;
	right: 28px;
}

#flash a img {
	border: none;
}

/* News feed */

#newsfeed {
	position: absolute;
	top: 250px;
	left: 0px;
	width: 70%;
	margin: 10px;
	padding: 0px;
	
	color: white;
	/*border: 1px solid red;*/
	background-color: #393329;
}

#newsfeed p {
	font-weight: bold;
	margin: 0px;
}

#newsfeed table tr td {
	padding: 10px;
	vertical-align: top;
}

#newsfeed table tr td p {
	font-weight: normal;
	padding: 0px;
	margin: 0px;
}


/* Links bar */

#links {
	position: absolute;
	top: 96px;
	margin: 10px;
	right: 0px;
	padding: 0px;
	color: white;
	background-color: #393329;
	text-align: right;
}

#links li {
	padding-bottom: 3px;
	list-style-type: none;
}

#links li a {
	text-decoration: none;
}

#links li a:hover {
	text-decoration: underline;
}
