/*body, a:link, a:visited, #hdr, #sidebar, #sidebar p.section, .blosxomTitle, .blosxomDate, .blosxomStory a.permalink, #copyright, #copyright a, h2 {*/

body, a:link, a:visited, a:active, #hdr, #whatisgnome, #whatisgnome h2, #body h2, #copyright a, #copyright a:visited, * {
	color: black;
	background: black;
	background-color: black;
	border: none;
}

.protest {
	color: white;
	font-weight: bold;
	font-size: 120%;
}
.protest a {
	color: white;
	text-decoration: underline;
}
