html {
  margin: 0px;
  padding: 0px;
  border: none;
}
head {
  border: none;
  margin: 0px;
  padding: 0px;
}
body {
  border: none;
  margin: 0px;
  padding: 0px;
  background: #f0f0f0;
  font-family: "Times New Roman", "Times", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 12pt;
}


/*These are the top-level divs.*/
div {
  margin: 0px;
  padding: 0px;
}
div#header {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 75px;
  background: #fff1da url("/gnome-office/share/images/br.png") right center no-repeat;
  /* For some reason we need to force a non-empty top border.  */
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: #fff1da;
}
div#header p {
  font-size: 16pt;
  font-style: italic;
  font-weight: bold;
  color: #000050;
  margin: 0.25em 1em;
}
p#slogan {
  font-size: 18pt;
}
div.sidebar {
  width: 10em;
  margin: 0px;
  margin-bottom: 0.5ex;
  padding: 0px;
  margin-top: 0.5ex;
  background: #ffdca5;
  color: black;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #44f;
}
div.sidebar div {
  margin: 0px;
  padding: 0px;
  background: #ffdca5;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #88f;
}
div.sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
div.sidebar li {
  padding-bottom: 0.12em;
}
div.sidebar li:hover {
  background: #f0f050;
}
div.sidebar span {
  padding-left: 1em;
}
div.sidebar span:hover {
  background: #f0f050;
}
div.sidebar :link {
  color: #5000ff;
}
div.sidebar :visited {
  color: #0000dd;
}
div.sidebar ul {
  margin: 0px;
  padding: 0px;
  padding-left: 1em;
}
div.sidebar h2 {
  font-size: 13pt;
}
div.sidebar h3 {
  font-size: 12pt;
}

div.floatflush {
  clear: both;
}

div#content {
  position: absolute;
  margin-left: 11em;
  margin-right: 0.5em;
  top: 90px;
}

img.jsimg {
  height: 1.5ex;
  padding-right: 0.25em;
}

/*General formatting info; not just for the sidebars*/
h2 {
  margin: 0px;
  padding: 0px;
  background: #c3c5ff;
  text-indent: 3px;
}

h3 {
  margin: 0px;
  padding: 0px;
  background: #c3c5ff;
  text-indent: 3px;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: 0.5em;
}

:link {
  text-decoration: none;
}
:link:hover {
  text-decoration: underline;
}
:visited {
  text-decoration: none;
}
:visited:hover {
  text-decoration: underline;
}
