/*

Palette:
http://colorschemedesigner.com/#0D31Tw0w0w0w0

.primary-1 { background-color: #FF8900 }
.primary-2 { background-color: #BF7D30 }
.primary-3 { background-color: #A65900 }
.primary-4 { background-color: #FFA640 }
.primary-5 { background-color: #FFBE73 }

.secondary-a-1 { background-color: #1729B0 }
.secondary-a-2 { background-color: #2E3884 }
.secondary-a-3 { background-color: #081472 }
.secondary-a-4 { background-color: #4B5CD7 }
.secondary-a-5 { background-color: #717DD7 }

.secondary-b-1 { background-color: #00B64F }
.secondary-b-2 { background-color: #22884F }
.secondary-b-3 { background-color: #007633 }
.secondary-b-4 { background-color: #37DA7E }
.secondary-b-5 { background-color: #62DA97 }



*/

body {
    color: black;
    background-color: #ffffff;
    font-family: verdana,sans-serif;
    width:1000px
    }

div#logo {
	padding: 6px 6px 6px 6px;
	width: 800px;
	background-color: #FFA640;
    }	

div#logo img {
	width: 491px;
	margin-left: 52px;
	padding: 0px 100px 0px 100px;
	background-color: #FFBE73;    
    }	



div#navigation {
    float:right;
    width:11em;
    }

div#content {
    margin-right:13em;
    width:800px;	
    }


a {
	color: #22884F;
	}


div#footer {
	border-top: 0.1em dotted #FFAB00;
    font-style: italic;
    text-align: center;
    font-size: small; 
    color: #808080;
    clear: both;
    }
	

table.tab_class {
    padding: 15px;
    }

ul.navbar {
    width:11em;
    list-style-type: none;
    margin:0px;
    padding:0px;
    }

ul.navbar li a {
    display:block;
    text-decoration:none;
    padding: 0.3em;
    height:1.5em;
    line-height:1.5em;
    border: 1px solid gray;
    }
	
ul.navbar li {
    margin-top:3px;
    background: #717DD7;
    	
    }
	
ul.navbar li a:hover, ul.navbar li a:active {
    background: #FFA500;
    }
	
ul.navbar li.sel {
    background: #FFA500;
    }

ul.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size:15px;
    }

h3 {
    color: #717DD7;
    margin: 0.5em 0;
    padding: 0.3em;
    border-bottom: solid 1px #FFAB00;
    }
    

h4 {
    color:	#717DD7;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    }

img {
    border:0px;
    }
	
.example {
    border: 0.1em solid #142C3B;
    background: black;
    color: white;
    padding: 6px;
    font-family: monospace;
    margin-left:12px;
    margin-right:12px;
    }
    
.terminal {
    border: 0.1em dotted #000000;
    background: #FFBE73;
    color: #1729B0;
    padding: 3px;
    font-family: monospace;
    margin:10px;
    }
    
.spacer {
	 margin: 6px;
	}

table img{
	padding: 0px 2px;	
	}