/*

New Freedesktop colors:
#747474 - Background
#A2C7DF - Lightest
#3B81AE - Mid
#142C3B - Darkest

*/

body {
    color: black;
    background-color: rgb(255, 255, 240);
    font-family: verdana,sans-serif;
    }

div#navigation {
    float:left;
    width:11em;
    }

div#logo {
    margin-left:14em;
    }	

div#content {
    margin-left:13em;
    width:800px;	
    }
	
div#footer {
    font-style: italic;
    text-align: center;
    font-size: small; 
    color: #808080;
    clear: both;
    }
	

table.tab_class {
    padding: 15px;
    }

ul.navbar {
    width:11em;
    list-style-type: none;
    margin:0px;
    padding:0px;
    }

ul.navbar li a {
    display:block;
    text-decoration:none;
    padding: 0.3em;
    height:1.5em;
    line-height:1.5em;
    border: 1px solid gray;
    }
	
ul.navbar li {
    margin-top:10px;	
    }
	
ul.navbar li a:hover, ul.navbar li a:active {
    background: #FFA500;
    }
	
ul.navbar li.sel {
    background: #FFA500;
    }

ul.navbar a {
    color: #808080;
    text-decoration: none;
    font-weight: bold;
    font-size:15px;
    }

h2 {
    color: #142C3B;
    background: #65B6FF;
    margin: 0.5em 0;
    padding: 0.4em;
    }

/*
h3 {
    color: black;
    background: #BCC7CF;
    margin: 0.5em 0;
    padding: 0.3em;
    }
    
h3.a {
    color: black;
    background: #BCC7CF;
    margin: 0.5em 0;
    padding: 0.3em;
    }
*/
/*
#BCC7CF
*/
h3 {
    color: #333399;
    margin: 0.5em 0;
    padding: 0.3em;
    border-bottom: solid 1px #65B6FF;
    }
    

h4 {
    color:	#000099;
    border-bottom: 1px solid #BCC7CF;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding: 0.3em 0.3em 0em 0.8em;
    }

img {
    border:0px;
    }
	
.example {
    border: 0.1em solid #142C3B;
    background: black;
    color: white;
    padding: 6px;
    font-family: monospace;
    margin-left:12px;
    margin-right:12px;
    }
    
.terminal {
    border: 0.1em solid #142C3B;
    background: #808080;
    color: white;
    padding: 3px;
    font-family: monospace;
    margin:10px;
    }

li.terminal {
	 border: 0.1em solid #142C3B;
    background: #808080;
    color: white;
    padding: 1px;
    font-family: monospace;
    margin:10px;	
	}
    
.spacer {
	 margin: 6px;
	}

table img{
	padding: 0px 2px;	
	}

	