/**
 * Anjuta css overrides 
 */

#hdr {
    position: relative;
}

#body {
}

#header {
    background: #729FCF url(http://library.gnome.org/skin/top-header-gradient.png) top left repeat-x;
}

#header-wrap {
    background: transparent url(anjuta-logo.png) 15px 10px no-repeat;
    min-height: 67px;
}

#sidebar {
    top: 150px;
    width: 220px;
}

div.release-block {
   float: left;
   width: 45%;
   padding-right: 20px;
}

.clear-me {
   clear: both;
}

ul.projects, ul.project-item {
  list-style-type: none;
  padding: 0px;
}

ul.project-item {
  border-top: #dedede 10px solid;
  padding: 10px;
  padding-left: 0px;
  margin: 10px;
}

li.project-name {
    font-size: 120%;
    margin-bottom: 20px;
}

li.project-description {
  padding-left: 20px;
}

li.project-status-active {
    float: right;
    opacity: 0.5;
    width: 60px;
    height: 60px;
    background: url(green-button.png) no-repeat;
    -moz-border-radius-topright: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 0px;
    margin: 0px;
}

li.project-status-inactive {
    float: right;
    opacity: 0.5;
    width: 60px;
    height: 60px;
    background: url(red-button.png) no-repeat;
    -moz-border-radius-topright: 15px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 0px;
    margin: 0px;
}

li.project-author {
    color: #333333;
    float: right;
    margin-right: 40px;
    margin-top: -10px;
    background-color: #ededed;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
}

ul.team {
    list-style-type: none;
    margin-bottom: 50px;
}

ul.team-item {
    list-style-type: none;
    padding-top: 5px;
    padding-left: 0px;
    margin-bottom: 30px;
}

li.team-photo-frame {
    float: right;
    border: #cccccc 3px solid;
    padding: 3px;
    padding-bottom: 0px;
    margin-top: -30px;
    margin-right: 20px;
    background-color: #ffffff;
}

img.team-photo {
    width: 100px;
    height: 125px;
}

h2.team-header {
    padding-left: 40px;
} 

li.team-name {
    border-bottom: lightgrey 3px solid;
    font-style: oblique;
    font-size: large;
    margin-bottom: 10px;
    margin-left: -10px;
}

span.team-title {
    color: #555555;
    font-weight: bold;
    margin-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.author-list {
    list-style-type: none;
}

div.table-of-contents {
    border: 1px dotted #888;
    background: #f0f0f0;
    margin: 0 0 1em 1em;
    float: right;
    font-size: 85%;
    width: 250px;
}

div.table-of-contents p.table-of-contents-heading {
    font-weight: bold;
    margin: 0.5em 1em;
}

div.table-of-contents ol {
    margin: 1em 0.5em 1em 1em;
    padding: 0;
}

div.table-of-contents ol li {
    margin: 0;
    padding: 0;
    margin-left: 1em;
}

div.table-of-contents ol ol {
    margin: 0.5em 0.5em 0.5em 1em;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: luxi sans,sans-serif;
}

div#highlight-container {
    height: 620pt;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
}

div#highlight {
    background: url(anjuta-home.png) top left no-repeat;
    height: 509px;
}

div#highlight-ui {
    float: left;
    width: 150px;
    padding: 10px;
    background-color: #ffbbbb;
    border: #ff0000 solid 1px;
    -moz-border-radius: 15px;
    color: #333333;
}

div#highlight-editor {
    float: left;
    width: 180px;
    padding: 10px;
    margin-left: 15px;
    background-color: #bbffbb;
    border: #00ff00 solid 1px;
    -moz-border-radius: 15px;
    color: #333333;
}

div#highlight-plugins {
    float: left;
    width: 260px;
    padding: 10px;
    margin-left: 15px;
    background-color: #bbbbff;
    border: #0000ff solid 1px;
    -moz-border-radius: 15px;
    color: #333333;
}

div.download-button {
    background: url(download-button.png) top left no-repeat;
    width: 222px;
    height: 91px;
    padding-top: 20px;
}

span.tag-title {
   display: block;
   border-bottom: #555555 solid 1px;
}
span.tiny-tag { font-size: 12pt; }
span.small-tag { font-size: 15pt; }
span.med-tag { font-size: 18pt; }
span.large-tag { font-size: 21pt; }
span.huge-tag { font-size: 26pt; }

p.quote {
  background-color: #dddddd;
  color: #333333;
  font-style: italic;
  text-align: center;
}

table, th, td {
  border-collapse: collapse;
  border: 3px solid #eeeeee;
  padding: 5px;
}

.credits {
  margin-left: 30px;
}
