/* begin styles for RSS Feed */
/* Style for rss feeds */

.rss-box {
	 margin: 0.5em;
	 background-color: #FFFFFF;
     border: 7px solid #d3e2ff;
     font-size: 85%;
}
.rss-items {
	margin-top:0px;
	padding:0.5em; 0.5em;
	margin-left:0px;
}
p.rss-title {padding:0.5em;}
.rss-title {
	text-decoration: none;
	font-family: tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
	font-size: large;
	background-color:#d3e2ff;
	font-weight:bold;
	margin: 0px;
	padding:0em;
	text-align: left;
}

.rss-item  {
  font-family: small tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
  font-weight: normal;
  list-style: none;
  padding-bottom:1em;
}

li.rss-item {
  border-bottom: #dddddd 20px solid;
  margin-bottom: 20px;
}

a.rss-item {
  font-size: large;
}

.rss-item a {
	text-decoration : none;
	font-family: small tahoma, "Bitstream Vera Sans", "Trebuchet MS", "Lucida Grande", lucida, helvetica, sans-serif;
	padding-bottom: 0px;
}
	
.rss-item a:visited {
}

.rss-date {
	font-size: 85%;
	font-weight : normal;
	color: #fff;
} 

/* buttons modeled from http://www.wellstyled.com/css-inline-buttons.html */

.pod-play {
   _width:12em;
   margin: 0 0.2em; padding: 0.1em 0; _padding:0;
   
   white-space:nowrap;
   text-decoration: none;
   vertical-align:middle;
   background: #fb6;
   color: black;
   }
.pod-play em {
   _width:1em; _cursor:hand;
   font-style: normal;
   margin:0; padding: 0.1em 0.5em;
   background: white;
   color: #222;
   }
.pod-play span {
   _width:1em; _cursor:hand;
   margin:0; padding: 0.1em 0.5em 0.1em 0.3em;
   }
.pod-play:hover {
   background: #666;
   color: white;
   }
.pod-play:hover em {
   background: black;
   color: white
}
