/* Gnome games website overrides */

body {
	background-image:url("images/badcard.png");
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

#hdr {
	background: url("images/ggbanner.png") no-repeat;
	background-color: #416c1b;
}

.game {
        clear: both;
        margin: 2ex;
}

.name {
        margin: 0px;
}

.leftcolumn {
	width: 45%;
	float: left;
	margin-left: 1ex;
}

.rightcolumn {
	width: 45%;
	float: right;
	margin-right: 1ex;
}

img.miniss {
	float: left;
}

.programlisting {
  margin-left: 5em;
  margin-right: 5em;
  padding: 0.5em;
  clear: both;

  color: black;
  background-color: #eeeeff;
  border: solid 1px #aaaaff;
}

