* {
	font-family: sans-serif;
}

body {
	margin: 0px;
}

a {
	color: 4d4c8e;
	text-decoration: none;
}

#dl-em {
	text-align: center;
	font-size: large;
	padding: 10px
}

#content {
	margin: 10px;
	position: relative;
}

#nav {
	clear: both;
	text-align: right;
}

#shot {
	background: #f0f0f0;
	border: #d2d2d2 solid 1px;
	padding: 10px;
}

a:hover {
	text-decoration: underline;
}

#menu {
//	border-left: #aaaaaa solid 3px;
	float: left;
	padding: 10px;
}

#header {
 	background: #f0f0f0;
	border-top: #d2d2d2 solid 1px;
	border-bottom: #d2d2d2 solid 1px;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	margin-top: 10px
}
