body {
	background: white;
}

#body {
	margin-left: 1em;
	margin-right: 1em;
	line-height: 150%;
}

h3 {
	margin: 0.5em 0 0;
	padding: 0px;
}

div.box h3 {
	margin: 0px;
}

h5 {
margin-top: 0em;
padding-top: 0em;
}

#header {
	background: #57AD06 url(../images/jumping-people.png) no-repeat scroll right center;
	height: 80px;
}

#header h1 {
margin: 0 0 0 40px;
}

#tabs {
	display: none;
}

#friend-bread {
	margin-right: 330px;
}

#friend-bread h3 {
	color: #4e9a06;
}

#friend-sidebar {
	float: right;
	width: 287px;
	height: 100%;
	margin-left: 20px;
}

#sidebar-info {
	background: #fff url(../images/sidebar-background.png) no-repeat bottom;
	border: 1px solid #888a85;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-color: #000;
	padding: 1em;
}

ul {
	list-style-image: url(../images/bullet.png);
	font-size: 12;
	line-height: 16px;
}

#body ul li {
	margin-bottom: 0.7em;
}


button {
	background: green;
}

small {
color: #888a85;
}

#foundation-info {
	color: #555753;
}

#column1 {
	width: 50%;
	float: left;
}

#column2 {
	float: right;
	width: 45%;
}



.box {
	background: #cfcfc9;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #babdb6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
}

.box input {
	float: left;
	margin-right: 15px;
}

.box p {
	margin-right: 60px;
	
}

.box img {
	float: right;
}

.active {
	background: #63b412;
	border: 1px solid #4e9a06;
	color: #fff;
}

#friend-bread .active h3 {
	color: #fff;
}

#small-banner {
	margin-top: 2em;
	font-size: 12px;
	line-height: 130%;
}

#foundation-donate {
	clear: both;
}

#portal-globalnav {
	visibility: none;
}

input[type=image] {
	border: 0px;
}

.quote {
font-style: italic;
}
