/* Ruler Tweaks */

#gnome-fog-ruler {
    padding: 0px 0px 16px 0px;
    background: #fff;
}

#gnome-fog-ruler .fog-donate {
    display: none;
}

#gnome-fog-ruler .fog-intro {
    display: none;
}

#gnome-fog-ruler .fog-center {
    width: 600px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#gnome-fog-ruler .fog-ruler {
    border: 1px #000 solid;
    padding: 1px;
}

#gnome-fog-ruler .fog-description {
    padding-left: 45px;
}

#gnome-fog-ruler .fog-description .fog-item {
    color: #000;
}

#gnome-fog-ruler .fog-description .fog-item .fog-box {
    border: 1px #000 solid;
}
