/* Basic tags */
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #FFFFFF;
}

h1, h2 {
    font-family: serif;
}

p.thumb {
}

#body {
    margin: 3em 20em 0em 1em;
    padding: 0px;
    background-color: #FFFFFF;
    color: #000000;
    clear: left;
}

a img {
        border: none ;
        text-decoration: none ;
}

/* Anchors */
a {
    border: none ;
    text-decoration: none ;
    font-weight: bold;
    color: #99cc66;
}

a:visited {
}

a:active {
}

/* Common page elements: Header, footer, etc. */

#hdr {
    background-color: #7F201F;
    color: #FFFFFF;
    padding: 1em;
    border-bottom: 1px solid #000000;
}

#hdr h1 {
    margin: 0em;
    font-size: 175%;
}

#hdr img {
    float: left;
}

#hdr h2 {
    margin: 0.5em 0em 0em 0em;
    font-size: 120%;
}

#hdr_menu {
    padding: 0.5em;
    margin: 0;
    background-color: #a62121;
    color: #FFFFFF;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

#hdr_menu li {
    display: inline;
    padding: 0.6em;
}

#hdr_menu a{
    color: #FFFFFF;
    text-decoration: underline;
}

#hdr_gradient {
    width: 100%;
    height: 10px;
    background: url(images/content-gradient-top.gif) repeat-x;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 18em;
    margin: 1em;
    padding: 0em 0.5em;
    border-left: 1px dashed #dddddd;
}

#sidebar p {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar h3 {
    font-weight: bold;
    background-color: #eeeeee;
    padding: 0.3em;
}

#sidebar ul {
  margin: 0em;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

#sidebar ul ul {
  padding-left: 2em;
  padding-right: 0em;
  list-style-type: square;
}


/* Copyright footer */

#copyright {
    text-align: center;
    font-size: small;
    clear: both;
    background-color: #7F201F;
    color: #FFFFFF;
    margin: 2em 0em 0em 0em;
    padding: 2em;
}

/* Generic Classes */

code {
    display: block;
    white-space: pre;
    font-family: monospace;
    background-color: #eeeeee;
    margin-left: 2em;
    width: 500px;
}

inlinecode {
    white-space: pre;
    font-family: monospace;
    background-color: #eeeeee;
}

newsblock {
    display: block;
    white-space: pre;
    font-family: monospace;
    background-color: #eeeeee;
    margin-left: 2em;
    padding: 1em;
    width: 600px;
    word-wrap: normal;
}

tidbit {
    display: block;
    white-space: pre;
    background-color: #CCFF99;
    margin-left: 2em;
    padding: 1em;
    border: 1px dotted #333333;
}
