.dummy_for_bugs {
	color:			#999999;
}
* {
	color:			#141414;
	font-family:	Bitstream Vera Sans, sans-serif;
}
body {
	color:			#141414;
	background-color:	#898989;
	margin:			0;
	padding:		0;
}
a {
	color:			#004095;
	font-family:		Bitstream Vera Sans, sans-serif;
}
#main {
	color:			inherit;
	background-color:	#ffffff;
	width:			812px;
	height:			2300px;
	margin:			0;
	margin-left:	auto;
	margin-right:	auto;
	padding:		0;
	background-image:	url('shadow.gif');
	background-position:	center;
	background-repeat:	repeat-y;
}
#copyright_old {
 	background-image:	url('brownbar.jpg');
	width: 800px;
	margin-left:	6px;
	height: 780px;
	background-position: bottom; 
	background-repeat: repeat-x;
} 

#top {
	height:			230px;
	width:			800px;
	margin-left:	6px;
	background-image:	url('brownbarTop.jpg');
	background-position:	center top;
	background-repeat: repeat-x;
}
#top img {
	margin:			0;
	padding:		0;
	border:			0;
}

#left {
	float:			left;
	width:			150px;
	min-height:		200px;
	margin-top:     15px;
	margin-left:	25px;
}
div.box {
	border:			thin dashed #4d2b10;
	padding:		5px;
	width:			175px;
	font-size: 		12px;
	margin-bottom:	20px;
	color:			#000000;
	background-color:	inherit;
}
h2.box_title {
	color:				#ffffff;
	background-color:	#4d2b10;
	font-size:			15px;
	margin:				0;
	padding:			3px;
}
h4.box_header {
	color:				#4d2b10;
	background-color:	inherit;
	font-size: 			14px;
	padding-left:		3px;
	margin:				3px;
}
#right {
	float:			right;
	width:			530px;
	min-height:		400px;
	margin-right:	25px;
	font-size:		14px;
	text-align: 	justify;
}
#right h3 {
	color:			#4d2b10;
	font-size:		16px;
	background-color:	inherit;
}


