body { background: lightgrey }

p {
        margin-left: 200px;
        margin-right: 200px;
        text-align: left;
        }

li p {
   margin-left: 10px;
   text-align: left;

}

h1.title {
	 margin-left: 200px;
	 margin-right: 200px;
	 text-align: center;
        }


h2.title {
	 margin-left: 200px;	
	 margin-right: 200px;
	 text-align: left;
        }

div.toc {
	margin-left: 200px;
        margin-right: 200px;
        text-align: left;
        }

h3.title {
	 margin-left: 200px;
	 margin-right: 200px;	
	 text-align: left;
        }

h4.title {
	 margin-left: 200px;
	 margin-right: 200px;	
	 text-align: left;
        }

h5.title {
	 margin-left: 200px;
	 margin-right: 200px;	
	 text-align: left;
        }

img	{
	margin-left: 200px;
	padding-right: 10px;
	padding-bottom: 10px;
	 }	 

div.itemizedlist {
	margin-left: 200px;
	margin-right: 200px;	
	text-align: left;
        }

div.navfooter {
	margin-left: 100px;
	margin-right: 100px;
}

div.navheader {
	margin-left: 100px;
	margin-right: 100px;
}


