body {
	background-color: white;
	margin: 5%;
	font-family: sans-serif;
}

h2,h3 {
	font-family: serif;
}

#rightbar {
	float: right;
//	font-size: small;
	font-weight: bold;
}

a {
	font-weight: bold;
	color: black;
}

#bodycontent {
	clear: both;
}

.pictar {
	text-align: center;
}
