BODY {
  font-family: Arial,Helvetica,sans-serif
  font-size: 10pt;
  background-color: #FFFFFF;
  margin: 5px 5px;
  width: 42em;
}
CODE {
  font-family: Courier,fixed
}
P {
  font-size: 10pt;
  font-family: arial, helvetica, sans-serif;
  letter-spacing: 1px;
  color: #000000;
}
TD {
  font-size: 12pt;
  font-family: arial, helvetica, sans-serif;
  letter-spacing: 1px;
  color: #000000;
  
}

H1 {
  font-size: 14pt;
  font-family: arial, helvetica, sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: #000000;
  padding: 0;
  border-bottom: solid #008000 1px;
  border-bottom-width: 1px;
  border-top: solid #FFFFFF 0px;
  border-top-width: 0px;
  border-left: solid #FFFFFF 0px;
  border-left-width: 0px;
  border-right: solid #FFFFFF 0px;
  border-right-width: 0px;
  border-color: #7b759a;
  border-style: solid;
}
H2 {
  font-size: 14pt;
  font-family: arial, helvetica, sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: #8b2323;
  padding: 0;
  border-bottom: solid #008000 1px;
  border-bottom-width: 1px;
  border-top: solid #FFFFFF 0px;
  border-top-width: 0px;
  border-left: solid #FFFFFF 0px;
  border-left-width: 0px;
  border-right: solid #FFFFFF 0px;
  border-right-width: 0px;
  border-color: #7b759a;
  border-style: solid;
}
A:link {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
  Text-Decoration: none;
  font-weight: bold;
   }
A:visited {
  font-family: arial, helvetica, sans-serif;
  color: #000000;
  Text-Decoration: none;
  font-weight: bold;
  }

OL, UL, UL.small {
  font-size: 10pt;
  font-family: arial, helvetica, sans-serif;
  text-indent: 0px;
  letter-spacing: 1px;
  color: #000000;
}
UL.big {
  font-size: 12pt;
  font-family: arial, helvetica, sans-serif;
  color: #000000;
}
DL {
  font-size: 10pt;
  font-family: arial, helvetica, sans-serif;
}
DT {
  font-size: 10pt;
  font-family: arial, helvetica, sans-serif;
  font-weight: 600;
  color: #000000;
  padding: 0;
  border-bottom: solid #008000 1px;
  border-bottom-width: 1px;
  border-top: solid #FFFFFF 0px;
  border-top-width: 0px;
  border-left: solid #FFFFFF 0px;
  border-left-width: 0px;
  border-right: solid #FFFFFF 0px;
  border-right-width: 0px;
  border-color: #008000;
  border-style: solid;
}
DD {
  font-size: 10pt;
  font-family: arial, helvetica, sans-serif;
}

