body {
	background: #bebeae;
	padding: 12px;
	font-family: Bistream Vera Sans,sans,sans-serif;
	color: white;
	min-width: 8;
	width: 856px;
	text-align: justify;
	margin: 0 auto;
}

.content {
	padding: 125px 25px 10px 225px;
	background: url(../images/nm-logo.png) white no-repeat 0px 25px;
	position: relative;
	color: #6a6a6a;
}

.main.content {
	padding-top: 190px;
	background-position: 0px 90px;
}

#banner {
	position: relative;
	width: 632px;
	height: 72px;
	border: 0px solid green;
	margin-bottom: 3em;
}

.content #banner img {
	width: 632px;
	height: 72px;
	position: absolute;
	left: 0;
	padding: 0;
	margin: 0;
	display: block;
}

#links {
	text-align: right;
	height: 26px;will
	margin-right: 10px;
	word-spacing: .5em;
	width: 336px;
	position: absolute;
	bottom: -3px;
	right: 10px;
	border: 0px solid red;
	color: white;
}

#navbar {
	border: 0px solid purple;
}

#links :link, #links :visited {
	text-decoration: none;
	color: white;
}

.main.content #navbar #main,
.administrator.content #navbar #admins,
.user.content #navbar #users,
.developer.content #navbar #developers,
.contact.content #navbar #contact {
	color: black;
}

#copyright {
	background-color:	#dedede;
	color:			#a9aaa6;
	padding-left:		2em;
	padding-right:		2em;
	font-size:		smaller;
	text-align:		center;
	clear: both;
}

#copyright :link {
	color: #a9aaa6;
}

h2 {
	font-size: xx-large;
	text-align: left;
}

code {
	display: block;
	padding: 10px;
	background-color: #efefef;
	margin-right: 30px;
}

:link, :visited {
	color: #879727;
}

#sidebar {
	color: #0a6495;
	background-color: #efefef;
	border: 1px solid #0a6495;
	width: 300px;
	max-width: 300px;
	margin: 1em 1em 5em 1em;
	padding: 0 1ex 1ex 1ex;
}

.float-right {
	float: right;
	padding: 0 6px 6px 6px;
	margin: 12px;
}
