body {
	background: white;
}

#body {
	margin-left: 1em;
	margin-right: 1em;
	line-height: 130%;
}

#header {
	background: #75507b url(../images/women-outreach.png) no-repeat scroll right center;
	height: 80px;
}

#header h1 {
margin: 0 0 0 40px;
}

#tabs {
	display: none;
}

ul {
	font-size: 12;
	line-height: 100%;
}

#body ul li {
	margin-bottom: 0.7em;
}

#women-bread {
	margin-right: 330px;
}

#women-bread h3 {
	color: #75507B;
}

#women-bread h3 a {
	color: #532e59;
}

#women-sidebar {
	float: right;
	width: 287px;
	height: 100%;
	margin-left: 20px;
}

#sidebar-info {
	background: #fff url(../images/sidebar-background.png) no-repeat bottom;
	border: 1px solid #888a85;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	font-color: #000;
	padding: 1em;
}

input[type=image] {
	border: 0px;
}
