/* Basic tags */
body {margin-top: 0; 
	  margin-left: 0; 
	  margin-right: 0; 
	  margin-bottom: 0;   
	  background-color: white;
	  font-family: sans-serif;
	  color: #140b38;
}
	  
a {
	color: #0000ff;
}

a:visited {
	color: #551a8b;
}

a:active {
	color: #ff0000;
}

pre {background-color: #eeeeee;
     font-weight: bold;
     padding: .2cm;
     border: dashed 1px #140b38; }

#name {
	position: absolute;
	top: 125px;
	left: 90px;
	font-size: xx-large;
}

#welcome {
	position: absolute;
	top: 175px;
	left: 90px;
	width: 65%;
}

#list {
	position: absolute;
	top: 125px;
	left: 90px;
	width: 80%;
}

#logo {
	position: absolute;
	top: 24px;
	left: 90px;
	border: 0px;
	z-index: 10;

	background: url("images/gnome-text.png") no-repeat;
	width: 64px;
	height: 64px;
}

/* Sidebar */

#sidebar {
	position: absolute;
	top: 125px;
	right: 0px;
	width: 20%;

	/*margin-right: 10px;*/
	padding-right: 10px;
	padding-bottom: 0px;
	border-left: 1px dashed #dddddd;
	background-color: #ffffff;
}

#sidebar p {
	margin-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

#sidebar p.section {
	text-align: center;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #999999;
	background-color: #eeeeee;
}

/* Copyright footer */

#copyright {
	text-align: center;
	font-size: small;
	clear: both;
	position: absolute;
	top: 800px;
	left: 500px;
	padding: 5px 0px 5px 0px;
	color: #aaaaaa;
}

#copyright a {
	color: #aaaaff;
}

#copyright a:visited {
	color: #ffaaaa;
}
