/* orca website overrides */

#hdrNavTop {
/*        float: right; */
	position: relative; left: -2ex; top: 5px;
        font-size: 26px;
	font-family: Verdana, sans-serif;
	font-weight: 900;
}

#hdr {
	#background: url("images/orca2-sm.jpg") no-repeat;
	#background-color: #5d7555;
	#background-position: right;
}

.front-screenshot {
	#float: right;
	#display: block;
	#margin: 1em;
}