body { margin-left: 10px;
       margin-right: 70px;
       font-family:"Bitstream Vera Sans","Luxi Sans",Helvetica,Arial,sans-serif;
       font-size: 80%; }

h1 { font-family:"Bitstream Vera Sans","Luxi Sans","Helvetica","Arial","sans-serif" ;
     font-size: 150%; 
     margin-bottom: 1px solid #99c; 
     text-align: center; }

table { width: 100%; }

img { margin: 1em; }

.category { background: #303030;
            text-weight: bold;
            text-decoration: underline;
            color: white; }

.table-header { color: white; 
                font-size: 120%;
		font-weight: bold; }

#table-tasks { display: table; }

.column-category { background: #303030;
		   color: white;
		   text-decoration: underline;
                   cursor: n-resize; }

.header-links { color: white; 
		align: right; 
		border: thin solid green; }

.taskrow td { color: black;
	      background-color: #d0d0ff;
	      align: left; }

.solved { color: #007f00;
	  fontweight: bold; }

.navigation { text-align: center;
	      margin-bottom: 20px; }
.solved-light { color: #70ff70; }

.solved-strike { color: #ff0000; }

.bug-number { color: white;
	      font-size: 100%;
	      position: relative;
	      text-align: right; }

.bug-number a:link { color: white; }

.bug-number a:visited { color: white; }

.bug-number a:active { color: white; }

.bug-number a:hover {color: white; }

.second-header { background-color: #808080; 
 		 color: white; }

.bounty { color: #00ff00; }

.headlinebar { background-color: #a0a0a0;
		color: white; 
		align: left; 
		clear: both;
		margin-top: 5px;
		margin-bottom: 5px;
		padding: 2px;
		width: inherit; }

.headlinebar-solved { background-color: #a0a0a0;
		color: #c0c0c0; 
		clear: both;
		padding: 2px;
		margin-top: 5px;
		margin-bottom: 5px;
		align: left; }

.content-box { margin-bottom: 20px; 
	       width: 100% ;}

.content-box-header { background: #303030;
	              color: white;
		      padding: 2px; }

.content-box-second-header { background-color: #808080; 
		 	     color: white;
			     margin: 0px;
			     padding: 2px; }

.content-box-solved-header { background-color: #ff0000; 
			     padding: 2px;
		 	     color: black; }

.content-box-body { background-color: #d0d0ff;
		    padding: 5px; }
		    
.content-box-body-solved { background-color: #d0d0ff;
		    	   padding: 5px;
			   color: #707070; }
			   
