/* Epiphany website overrides */

body {
	background-color: white;
    color: black;
	font-family: serif;
}

#hdr {
	background: url("images/wheat.png") no-repeat;
	background-color: #fea;
}

#logo {
	background: url("images/epiphany-64.png") no-repeat;
}

#gallery {
	margin: 0px 0px 24px 0px;
}

.figure {
    float: right;
    margin: 0.25em;
    padding: 0;
    text-align: center;
}

.figure p {
    font-size: 0.8em;
    font-style: italic;
    margin: 0.1em;
}

.image {
	background: #FFF;
	float: left;
	margin: 12px 0px 24px 12px;
	width: 180px;
	height: 180px;
	padding: 6px;
	text-align: center;
}

.image p {
	font-size: 11px;
	text-align: center;
}

th {
	text-align: center;
	font-weight: bold;
	color: #000;
	background-color: #99C;
    width: 12em;
}

th.date {
    width: 9em;
}

td {
    text-align: center;
}

td.date {
	background-color: #CCF;
    width: 9em;
}

td.year {
	background-color: #336;
    color: #FFF;
    font-weight: bold;
    padding-left: 0.5em;
    text-align: left;
}

tr.milestone {
    background-color: #EEF;
}

/* Source code formatting & syntax highlighting */
.attribute {
    color: #369;
}

.caption {
    font-size: 0.8em;
    font-style: italic;
    margin: 0.1em;
	text-align: center;
}

.entity {
    color: #F0F;
}

.source {
    background-color: #EEF;
    border: 1px solid #000;
    font-family: monospace;
    margin-bottom: 0;
    padding: 0.5em;
}

.tag {
    color: #A33;
}

/* FAQ beautification */
.faqitem {
    background-color: #EEF;
    border: 1px dashed #DDD;
    margin: 0 0 1.5em 0;
}
    
.faqitem h3 {
    background-color: #DDD;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0.25em;
}

.faqitem p {
    margin: 0;
    padding: 0.25em;
}

/* Screenshot page stuff */
#body-screenshots {
    margin: 0 2em;
}

.screenshot {
    background-color: #EEF;
    border: 1px dashed #CCC;
    float: left;
    height: 14em;
    margin: 0 1em 1em 1em;
    text-align: center;
    width: 21em;
}

.screenshot span {
    margin:  0 1em 0 0;
    padding: 0;
}

.screenshot img {
    margin: 1em 1em 0 1em;
    padding: 0;
}

.screenshot h2 {
    background-color: #DDD;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0.25em;
    text-align: left;
}
