/* Epiphany website overrides */

body {
	background-color: white;
    color: black;
	font-family: serif;
}

#hdr {
	background: url("images/wheat.png") no-repeat;
	background-color: #fea;
}

#logo {
	background: url("images/epiphany-64.png") no-repeat;
}

#gallery {
	margin: 0px 0px 24px 0px;
}

.image {
	background: #FFF;
	float: left;
	margin: 12px 0px 24px 12px;
	width: 180px;
	height: 180px;
	padding: 6px;
	text-align: center;
}

.image p {
	font-size: 11px;
	text-align: center;
}

th {
	text-align: center;
	font-weight: bold;
	color: #000;
	background-color: #99C;
    width: 12em;
}

th.date {
    width: 9em;
}

td {
    text-align: center;
}

td.date {
	background-color: #CCF;
    width: 9em;
}

td.year {
	background-color: #336;
    color: #FFF;
    font-weight: bold;
    padding-left: 0.5em;
    text-align: left;
}

tr.milestone {
    	background-color: #EEF;
}
