body { 
       margin: 0;
       padding: 0;
}

p, li { 
    font-size: 10pt;
    color: #000;
    text-align: overflow;
}

img { 
      border-width: 0px;
}

#release-img { 
               float:right;
               border: 6px solid #fff;
               padding:8px;
}

#release-img a { border-bottom: 0px; text-decoration:none; }

#main { 
        position: absolute;
        right: 340px;
        left: 24px;
        top: absolute;
}

#head { 
        background-color: #e0e0e0;
        padding: 0.3em;
        margin: 0;
        border-bottom: 1px solid #c1c1c1;
}

#head h1 { font-size: large;  }
#head h2 { 
    font-size: small; 
    font-weight: 500;    
}

#main h1 { font-size: 18px; font-family: georgia, serif; }
#main h2 { font-size: 16px; font-family: georgia, serif; }
#main h3 { font-size: 15px; }
#main h4 { font-size: 12px; }

#main a { 
    text-decoration: none;
    border-bottom: 1px dotted #636393;
    color: #000;
}

#sswrap { 
          position: absolute;
          right: 12px;
          width: 300px;
          padding: 12px;
}

div.spacer { 
             clear: both;
}

#screenshots { 
               border: 1px solid #c1c1c1;
               background-color: #f0f0f0;
}

.content { 
           padding: 0px 12px 12px 12px;
}

#screenshots h3 { 
                  text-transform: lowercase;
                  font-size: 1em;
                  font-weight: normal;
                  background-color: #e0e0e0;
                  border-bottom: 1px dotted #c1c1c1;
                  text-align: center;
                  margin-top: 0px;
}

.shot { 
        margin: 12px;
}

.shot p { 
          clear: both;
          margin: 12px 0px;
}

.shot .image { 
               float: left;
               margin-right: 12px;
               margin-bottom: 12px;
               width: 124px;
               text-align: left;
}

.shot .image img { 
                   border: 1px solid #000000;
}

.shot .image a:link { 
                      border-width: 0px;
}

#sections { 
            margin-top: 1em;
            padding-left: 0px;
}

#sections ul {  padding-left: 3em; padding-bottom: 4px; border-bottom: 1px solid #c1c1c1;}
#sections ul li { 
               padding: 4px 15px 4px 15px;
               border: 1px solid #c1c1c1;
               list-style: none;
               display: inline;
               font-size: small;
}
/*
#sections li.inline {
                      padding-right: 7px;
                      border-right: 1px solid #d0d0d0;
}

#sections li.last {
                    padding-right: 3px;
                    border-right: 0px;
}
*/
#sections li.here { 
                    list-style: none;
                    display: inline;
                    border-bottom: 1px solid #fff;
}


#sections a { text-decoration: none;}
#sections a:visited { color: #000; }
#sections ul a:hover, #sections ul a:active { text-decoration: none; }
#requirements-list p { display: inline; }
#requirements-list ul, #requirements-list li { 
                   padding: 0px;
                   margin: 0px;
                   display: inline;
} 

.snippit { 
           font-size: small;
           font-weight: 0.1em;
           background-color: transparent;
           text-decoration: none;
           color: #000;
           text-align: left;
} 


dt { 
     font-size: small;
}
