#header
{
  background-image: url("images/top-bg.png");
  background-repeat: repeat-x;
  margin: 0;
  padding: 0;
  height: 96px;
  overflow: hidden;
  }

#header h1
{
  background-image: url("images/title.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-top: 128px;
  margin: 0;
  }

#content
{
  width: 100%;
  float: left;
  margin-right: -16.5em;
  }

#content > *
{
  padding: 0 2em;
  margin: 1ex 20.5em 1em 0;
  }


#content p > img,
#content p > .img
{
  float: right;
  margin: 1ex;
  }

#appendix
{
  float: right;
  width: 15em;
  margin: 0 1em 0 0;
  padding: 0;
  border-left: 1px dashed #ddd;
  }

#appendix h2
{
  text-align: center;
  font-weight: bold;
  font-size: 1em;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #999999;
  background-color: #eeeeee;
  }

#appendix p
{
  margin: 1ex 1ex 1em;
  }

#appendix p + h2
{
  margin-top: 2em;
  }

/* menu */
#menu
{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/gnome.png");
  background-repeat: no-repeat;
  background-position: 1ex 1ex;
  height: 96px;
  }

#menu h2
{
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  height: 44px;
  visibility: hidden;
  }

#menu > ul
{
  margin-left: 48px;
  display: block;
  }

#menu ul ul, #menu li, #menu a
{
  display: inline;
  padding: 0;
  margin: 0;
  }

#menu .current > a
{
  font-weight: bold;
  }

#menu a
{
  color: black;
  }

#menu li li:before
{
  content: "·";
  margin: 0.5ex;
  }

#footer
{
  clear: both;
  }

