/* gfoobar website overrides */

#hdr {
	background: url("images/gevice-banner.png") no-repeat;
	background-color: #5d7555;
	background-position: right;
}

.front-screenshot {
	float: right;
	display: block;
	margin: 1em;
}
