body {
  font-family: "Sans", "arial";
  background-color: #fff;
  margin: 0;
  font-size: 11pt;
}

a {
  color: #555;
}

h2 {
  color: #60B3BF;
}

h3 {
  color: #60B3BF;
}

h4 {
  color: #444;
}

#body {
  max-width: 900px;
  min-width: 700px;
  margin: auto;
}

#doc {
  margin-left: 10px;
  margin-right: 10px;
}

#header img {
  margin-top: 20px;
}

#footer {
  clear: both;
  margin-top: 10px;
  border-top: 4px solid #444;
}

#header #content, #footer #content {
  color: #999;
  font-size: 10pt;
  padding: 10px 20px 10px 20px;
}

#footer #content {
  text-align: center;
}

a img {
  border: 0;
}

#small-splash {
  background-color: #60B3BF;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  clear: both;
  padding: 10px;
}

#small-splash h2 {
  font-weight: normal;
  font-size: 14pt;
  color: white;
  padding-left: 15px;
}

#splash {
  background-color: #60B3BF;
  background-image: url('img/map.png');
  background-repeat: no-repeat;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  clear: both;
  padding: 20px;
  height: 250px;
}

#splash #content {
  text-align: right;
  color: #fff;
  font-size: 20pt;
}

#splash b {
  font-size: 30pt;
}

#menu {
  width: 100%;
  float: left;
  background-color: #f9f9f9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 0px;
  clear: both;
}

#menu.content {
  border-bottom: 5px solid #60B3BF;
}

#menu .menu {
  list-style: none;
  margin: 5px;
  padding: 0;
}

.menu li {
  float: left;
  list-style: none;
}

#menu ul.menu li {
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  border: 1px solid #f8f8f8;
  font-size: 12pt;
}

#menu ul.menu li a {
  text-decoration: none;
  color: #60B3BF;
}

#menu ul.menu li.selected {
  background-color: #CEE5E8;
  border: 1px solid #60B3BF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#menu ul.menu li.selected a {
  color: #333;
  font-weight: bold;
}

#menu ul.menu li:hover {
  background-color: #CEE5E8;
  border: 1px solid #60B3BF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#menu ul.menu li:hover a {
  color: #333;
}

#bd {
  background-color: white;
  clear: both;
}

#content {
  clear: left;
  padding: 20px;
}

#content p {
  text-align: justify;
}

#sidebar {
  padding: 20px;
  margin: 10px 0 10px 20px;
  float: right;
  border-left: 1px solid #ccc;
  width: 33%;
}

#sidebar h3 {
  margin: 0px;
}

#sidebar #news {
  padding-top: 10px;
}

#middle {
  clear: both;
}

.emp {
  color: #555;
  font-weight: bold;
}

#middle p {
  color: #666;
}

#sidebar p {
  margin: 0;
}

#sidebar b {
  color: #777;
}

#languages {
  float: right;
  background-color: #f9f9f9;
  border-bottom: 1px solid #d9d9d9;
  clear: both;
}

#languages .menu {
  list-style: none;
  margin: 5px;
  margin-right: 0;
  padding: 0;
}

.menu li {
  float: left;
  list-style: none;
}

#languages ul.menu li {
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 4px;
  margin-bottom: 4px;
  border: 1px solid #f8f8f8;
  font-size: 10pt;
}

#languages ul.menu li a {
  text-decoration: none;
  color: #60B3BF;
}

#languages ul.menu li.selected {
  background-color: #CEE5E8;
  border: 1px solid #60B3BF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#languages ul.menu li.selected a {
  color: #333;
  font-weight: bold;
}

#languages ul.menu li:hover {
  background-color: #CEE5E8;
  border: 1px solid #60B3BF;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#languages ul.menu li:hover a {
  color: #333;
}

#left
{
  width:48%;
  float:left;
}

#right
{
  width:48%;
  float:right;
}

.download img
{
  float: left;
}
.download a
{
  font-weight: bold;
  vertical-align: middle;
}

.download p
{
  padding-left: 40px;
}

.download
{
  padding-left: 36px;
  /*border-top: 1px solid #99c;*/
}

div.code
{
  background-color: #eee;
  color: #000000;
  white-space: pre;
  font-family: monospace;
  padding: 20px;
}
