/* Basic tags */
body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #FFFFFF;
}

h1, h2 {
    font-family: serif;
}

p.thumb {
}

#body {
    margin: 3em 20em 0em 1em;
    padding: 0px;
    background-color: #FFFFFF;
    color: #000000;
    clear: left;
}

a img {
        border: none ;
        text-decoration: none ;
}

/* Anchors */
a {
    border: none ;
    text-decoration: none ;
    font-weight: bold;
    color: #73d216;
}

a:visited {
}

a:active {
}

/* Common page elements: Header, footer, etc. */

#hdr {
    background-color: #3465a4;
    color: #FFFFFF;
    padding: 0.5em;
    border-bottom: 1px solid #000000;
}

#hdr h1 {
    margin: 0em;
    padding-top: 0.5em;
    font-size: 175%;
}

#hdr img {
    float: left;
}

#hdr h2 {
    font-size: 120%;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 18em;
    margin: 1em;
    padding: 0em 0.5em;
    border-left: 1px dashed #dddddd;
}

#sidebar p {
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

#sidebar h3 {
    font-weight: bold;
    background-color: #eeeeee;
    padding: 0.3em;
}

#sidebar ul {
  margin: 0em;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
}

#sidebar ul ul {
  padding-left: 2em;
  padding-right: 0em;
  list-style-type: square;
}


/* Copyright footer */

#copyright {
    text-align: center;
    font-size: small;
    clear: both;
    background-color: #3465a4;
    color: #FFFFFF;
    margin: 2em 0em 0em 0em;
    padding: 2em;
}

/* Generic Classes */

code {
    white-space: pre;
    font-family: monospace;
    background-color: #eeeeee;
}
