/* Typography */


@font-face {
	font-family: 'PincoyablackBlack';
	src: url('../font/font/pincoyablack-webfont.eot');
	src: local('☺'), url('../font/pincoyablack-webfont.woff') format('woff'), url('../font/pincoyablack-webfont.ttf') format('truetype'), url('../font/pincoyablack-webfont.svg#webfontZjl9BjY0') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
	font-family: 'ChunkFiveRegular';
	src: url('../font/Chunkfive-webfont.eot');
	src: local('☺'), url('../font/Chunkfive-webfont.woff') format('woff'), url('../font/Chunkfive-webfont.ttf') format('truetype'), url('../font/Chunkfive-webfont.svg#webfontb5K2fJwj') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url('Lobster.ttf');
	src: local('☺'), url('../font/Lobster.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* yes this is ugly */
.h1 {
  font: 60px/68px 'PincoyablackBlack', Arial, sans-serif;letter-spacing: 0;
  color: #f57900;
}

h2 {
  color: #3465a4;
  font: 30px/38px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
  margin-bottom: 0px;
}

h3 {
  font-size: 14px;
  font-family: monospace;
  font-weight: bold;
  margin-bottom: 0px;
}

p {
  font-family: monospace;
}

p.intro {
  font: 30px/38px 'Lobster', Arial, sans-serif;letter-spacing: 0;
  color: #676c72;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

/* Appearance */

html {
  background: url('../img/waterbrush-body-bg.jpg') repeat-x scroll center top white;
}

a {
  color: #3465a4;
}

.content {
  margin-top: 30px;
}

.textarea {
  background-color: #ffffff;
  border: 1px solid #d3d7cf;
}

.submit {
  border: 0px;
  background: #3465a4;
  border-radius: 5px;
  -moz-border-radius: 5px;
  webkit-border-radius: 5px;
  padding: 5px 10px;
  color: #ffffff;
}

.tshirt {
  background: url('../img/tshirt.png') no-repeat center center;
  height: 321px;
  margin-top: 50px;
}

form .inputitem {
  display: inline-block;
  width: 5em;
}

.footer-art {
  height: 180px;
  background: url('../img/art.png') no-repeat bottom center;
}

.footer-grass {
  height: 39px;
  background-image: url('../img/grass.png');
  margin-top: -39px;
}

.footer {
  background: #d3d7cf;
  height: 100px;
}

.footer .grid_16 {
  text-align: center;
  margin-top: 30px;
  color: #676c72;
}

/* This does some gnome.org specific overrides */
#header {
  display: none;
}

#body {
  margin: 0px;
}

#footer {
  background: #D3D7CF;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#content {
  margin: 0px;
  padding: 0px;
}
