html
{
  background-color: white;
}  

#body
{
  background-color: white;
  float: left;
  width: 76%;
}	     

.copyright
{
  font-size: small;
  text-align: center;
  clear: both;
  padding-top: 1em;
  color: gray;
}

.faqmaint
{
  font-size: small;
  text-align: left;
  color: gray;
}

img
{
	border: none
}

dt
{
  font-weight: bold;
}

#headerimg
{
  background-color: white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: gray;
  width: 100%;
}
			    
#sidebar
{
  float: right;
  width: 17%;
  text-align: center;
  margin-top: 2em;
  border-style: dashed;
  border-color: gray;
  border-width: thin;
}

#sidebar p
{
  margin-top: 0px;
  font-weight: bold;
  color: #999999;
  background-color: #eeeeee;
}

#sidebar ul
{
  list-style-type: none;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-right: 12px;
  padding-left: 12px;
}

#sidebar ul li
{
  margin: 3px;
}  

#sidebar a {
	color: #0000ff;
}

#sidebar a:visited {
	color: #551a8b;
}

#sidebar a:active {
	color: #ff0000;
}

#copyright a {
	color: #0000ff;
}

#copyright a:visited {
	color: #551a8b;
}

#copyright a:active {
	color: #ff0000;
}

.warningpara {
  border-style: double;
  border-width: 3px;
  border-color: red;
  padding: 3px;
}

.mainscreenshot
{
  margin-left: 12px;
  margin-top: 25px;
  border: none;
  float: right;
}  

.screenshot
{
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}  

.newsitem
{
  border-style: solid;
  border-width: thin;
  padding: 6px;
  margin: 9px;
}  

.newshdr
{
  font-size: larger;
  font-weight: bold;
}  

.newsdate
{
  font-size: small;
  color: gray;
}  
