#rbhdr {
	background-image: url("images/top-bg.png");
	background-repeat: repeat-x;
	margin: 0;
	padding: 0;
	height: 64px;
	overflow: hidden;
}

#rbhdr h1 {
	background-image: url("images/title.png");
	background-repeat: no-repeat;
	background-position: top right;
	padding-top: 128px;
	margin: 0;
}

#body h2 {
	border-bottom: 1px solid #99c;
	font-size: 120%;
}

