/* gedit website overrides */

#hdr {
	background: url("images/gedit-banner.png") no-repeat;
	background-color: #823f28;
	background-position: right;
}

body {
	margin: 0;
	padding: 0;
	font-family: bitstream vera sans,sans-serif;
	background-color: #fff;
	color: #555;
}

h1, h2, h3, h4, h5 {
	font-family: luxi sans,sans-serif;
	clear: both;
	color: #222;
}

div.screenshot_gallery {
	margin:	0;
	font-size: 80%;
	float: left;
	width: 525px;
	padding-left: 15px;
}
div.screenshot {
	display: block;
}
div.screenshot a, div.screenshot img {
	float: left;
	min-width: 330px;
	min-height: 210px;
	margin-bottom: 20px;
}
div.screenshot p {
	float: right;
	width: 160px;
	text-align: left;
	padding: 10px;
	margin-top: 0;
}
