/* gedit website overrides */

#header {
	background-color: #823f28;
	background-image: url(images/icon.png);
}

#sidebar {
	top: 120px;
}

#portal-globalnav li.selected a {
	background-image: url(images/tab_left.png);
}

#portal-globalnav li a {
	background-image: url(images/tab_left.png);
}

#portal-globalnav li span {
	background-image: url(images/tab_right.png);
}

#portal-globalnav li.selected a span {
	background-image: url(images/tab_right.png);
}

body {
	margin: 0;
	padding: 0;
	font-family: bitstream vera sans,sans-serif;
	background-color: #fff;
	color: #555;
}

h1, h2, h3, h4, h5 {
	font-family: luxi sans,sans-serif;
	clear: both;
	color: #222;
}

div.screenshot_gallery {
	margin:	0;
	font-size: 80%;
	float: left;
	width: 525px;
	padding-left: 15px;
}
div.screenshot {
	display: block;
}
div.screenshot a, div.screenshot img {
	float: left;
	min-width: 330px;
	min-height: 210px;
	margin-bottom: 20px;
}
div.screenshot p {
	float: right;
	width: 160px;
	text-align: left;
	padding: 10px;
	margin-top: 0;
}
