html {
  padding: 0px;
}
body {
  margin: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  background: #f0f0f0;
  font-family: serif;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 12pt;
}


/*These are the top-level divs.*/
div {
  margin: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 0.5ex;
}
div#header {
  width: 100%;
  height: 75px;
  background: #505050 url(../images/gnumeric-top-background-2.png) center center repeat;
  /*background: #505050;*/
}
div.sidebar {
  width: 15em;
  margin-top: 0.5ex;
  background: #606060;
  color: #e0e0e0;
  text-decoration: none;
  border-style: solid;
  border-width: 3px;
  border-color: #aaa;
}
div#content {
  position: absolute;
  margin-left: 16em;
  top: 80px;
}

/*user sub-divisions*/
div#userbar div {
  background: #901010;
}
div#devbar div {
  background: #501010;
}
div#gobar div {
  background: #701010;
}
div#docbar div {
  background: #501010;
}

div#header p#slogan {
  text-align: left;
  margin-left: 0.5em;
  font-family: sans;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 22pt;
  color: #ddf;
}
div#header p#subslogan {
  text-align: left;
  margin-right: 1em;
  font-family: sans;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 16pt;
  color: #ddf;
  text-align: right;
}

img#sampleimage {
  float: left;
  border-style: hidden;
  margin-left: 0em;
  margin-right: 2em;
  margin-top: 2ex;
  margin-bottom: 2ex;
}

/*For some reason, this works best if we re-specify it.  *shrug* */
h1 {
  font-size: 26pt;
  font-family: sans;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.1ex;
  margin-bottom: 0.1ex;
}
h2 {
  font-size: 18pt;
  font-family: sans;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.1ex;
  margin-bottom: 0.1ex;
}
h3 {
  font-size: 16pt;
  font-family: sans;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.1ex;
  margin-bottom: 0.1ex;
}
h4 {
  font-size: 14pt;
  font-family: sans;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.1ex;
  margin-bottom: 0.1ex;
}
h5 {
  font-size: 13pt;
  font-family: sans;
  font-style: normal;
  font-variant: small-caps;
  font-weight: normal;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.1ex;
  margin-bottom: 0.1ex;
}
p {
  margin: 0.5ex;
  margin-top: 0ex;
  font-family: sans;
}

/*Links in the sidebar have different contrast needs*/
div.sidebar *:link {
  color: #fbb;
}
div.sidebar *:link:hover {
  text-decoration: underline;
}
div.sidebar *:visited {
  color: #c99;
  text-decoration: none;
}
:visited:hover {
  text-decoration: underline;
}

/*However, we still need the nifty underline-on-hver*/
:link {
  text-decoration: none;
}
:link:hover {
  text-decoration: underline;
}

div.sidebar ul {
  margin: 0px;
  padding: 1px;
  padding-left: 1em;
  list-style-type: none;
}

div.sidebar h3 {
  background: #303050;
  padding-left: 0.25em;
}

img.jsimg {
  height: 1.5ex;
  padding-right: 0.25em;
}